# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np 
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [78]:
data = pd.read_csv('/Users/bert/Desktop/dataV2-labs/module-2/Hypothesis-Testing/Data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

data.shape

(33702, 8)

Examine the `salaries` dataset using the `head` function below.

In [79]:
data.head(25)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.00
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
5,"AGNEW, ANTONIO E",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,37.45
6,"AGNEW, MELISSA M",SERGEANT,POLICE,F,Salary,NaN,111444.0,NaN
7,"AGOSTA, JOSEPH J",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,103932.0,NaN
8,"AGOSTINELLI, MICHAEL A",FIREFIGHTER (PER ARBITRATORS AWARD)-EMT,FIRE,F,Salary,NaN,107106.0,NaN
9,"AGOSTINI, LUIS R",ASST DIR,POLICE,F,Salary,NaN,95736.0,NaN
10,"AGOSTO, HECTOR I",POLICE OFFICER/EXPLSV DETECT K9 HNDLR,POLICE,F,Salary,NaN,94524.0,NaN
11,"AGREDANO, ELIAS",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
12,"AGREDANO, MARIO",BRIDGE OPERATOR,TRANSPORTN,F,Salary,NaN,67896.0,NaN
13,"AGRON, EDUARDO",SERGEANT,POLICE,F,Salary,NaN,122472.0,NaN
14,"AGRON, EDWIN",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
15,"AGSALUD, FERNAN S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,40.78
16,"AGSALUD JR, JUANITO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,38.52
17,"AGUADA, GILBERT GLENN",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
18,"AGUAS, ALEX",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
19,"AGUAYO, BRAULIO",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,89148.0,NaN
20,"AGUAYO, LUIS A",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,92274.0,NaN
21,"AGUAYO, LUIS M",LABORER - APPRENTICE,WATER MGMNT,F,Hourly,40.0,NaN,34.98
22,"AGUAYO, MARIA G",ACCOUNTING TECHNICIAN II,FINANCE,F,Salary,NaN,47160.0,NaN
23,"AGUIAR, WILLIAM M",ADMINISTRATIVE DEPUTY,LAW,F,Salary,NaN,143976.0,NaN
24,"AGUILA, JUANITA",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,37.45

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [80]:
data.isnull().sum()

#We can see that of the 33.702 columns there are a lot of missing values in 3 specific columns: 
# Typical Hours, Annual Salary, Hourly Rate

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [81]:
# Your code here:
salary = data.loc[data['Salary or Hourly']=='Salary'].count()
hourly = data.loc[data['Salary or Hourly']=='Hourly'].count()

salary_one = data[data['Salary or Hourly'] == 'Salary']
hourly_one = data[data['Salary or Hourly'] == 'Hourly']

hourly, salary

#We can see that 25.528 people have a salary and that 8.174 people earns per houre.

(Name                 8174
 Job Titles           8174
 Department           8174
 Full or Part-Time    8174
 Salary or Hourly     8174
 Typical Hours        8174
 Annual Salary           0
 Hourly Rate          8174
 dtype: int64,
 Name                 25528
 Job Titles           25528
 Department           25528
 Full or Part-Time    25528
 Salary or Hourly     25528
 Typical Hours            0
 Annual Salary        25528
 Hourly Rate              0
 dtype: int64)

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [82]:
# Your code here:
departments = data.groupby('Department', as_index=False).agg({'Name':'count'})
departments.sort_values('Name', ascending=False)

             Department   Name
27               POLICE  13848
16                 FIRE   4627
32        STREETS & SAN   2175
35          WATER MGMNT   1914
2              AVIATION   1856
26                 OEMC   1737
33           TRANSPORTN   1113
30       PUBLIC LIBRARY   1088
12                 DAIS   1033
14     FAMILY & SUPPORT    656
15              FINANCE    544
17               HEALTH    467
23                  LAW    398
9          CITY COUNCIL    362
6             BUILDINGS    258
31  PUBLIC SAFETY ADMIN    244
7      BUSINESS AFFAIRS    167
19   HOUSING & ECON DEV    154
10                 COPA    123
3     BOARD OF ELECTION    111
25       MAYOR'S OFFICE    104
22        INSPECTOR GEN     95
8            CITY CLERK     88
29          PROCUREMENT     84
1         ANIMAL CONTRL     75
21      HUMAN RESOURCES     75
11     CULTURAL AFFAIRS     74
18              HOUSING     66
5         BUDGET & MGMT     44
0          ADMIN HEARNG     38
13         DISABILITIES     28
34            TREASURER     28
20      HUMAN RELATIONS     17
4       BOARD OF ETHICS      8
28         POLICE BOARD      2
24    LICENSE APPL COMM      1

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [83]:
from scipy.stats import ttest_1samp

In [84]:
total = hourly_one['Hourly Rate'].count()
mean = hourly_one['Hourly Rate'].mean()
std = hourly_one['Hourly Rate'].std()

ttest_1samp(list(data[(data['Hourly Rate'].isnull() == False)]['Hourly Rate']), 30)

#Ttest_1samp takes a list or an array

Ttest_1sampResult(statistic=31.211500329216044, pvalue=3.825475847673794e-202)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [85]:
# Your code here:
lst_two =list(data[(data['Department'] == 'POLICE') & (data['Annual Salary'].isnull() == False)]['Annual Salary'])


ttest_1samp(lst_two, 86000)

Ttest_1sampResult(statistic=18.51748561981861, pvalue=1.2239133904242963e-75)

Using the `crosstab` function, find the department that has the most hourly workers.

In [86]:
# Your code here:

test = pd.crosstab(data['Department'], data['Salary or Hourly'])
test

Salary or Hourly     Hourly  Salary
Department
ADMIN HEARNG              0      38
ANIMAL CONTRL            12      63
AVIATION               1214     642
BOARD OF ELECTION         0     111
BOARD OF ETHICS           0       8
BUDGET & MGMT             2      42
BUILDINGS                 0     258
BUSINESS AFFAIRS          7     160
CITY CLERK                0      88
CITY COUNCIL             74     288
COPA                      0     123
CULTURAL AFFAIRS         10      64
DAIS                    745     288
DISABILITIES              1      27
FAMILY & SUPPORT        357     299
FINANCE                  45     499
FIRE                      0    4627
HEALTH                    2     465
HOUSING                   0      66
HOUSING & ECON DEV        3     151
HUMAN RELATIONS           0      17
HUMAN RESOURCES           0      75
INSPECTOR GEN             0      95
LAW                      48     350
LICENSE APPL COMM         0       1
MAYOR'S OFFICE           17      87
OEMC                   1077     660
POLICE                   24   13824
POLICE BOARD              0       2
PROCUREMENT               2      82
PUBLIC LIBRARY          356     732
PUBLIC SAFETY ADMIN      48     196
STREETS & SAN          1846     329
TRANSPORTN              726     387
TREASURER                 0      28
WATER MGMNT            1558     356

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [87]:
# Your code here:
lst_two =list(data[(data['Department'] == 'STREETS & SAN') & (data['Hourly Rate'].isnull() == False)]['Hourly Rate'])


stats, p_value = ttest_1samp(lst_two, 35)

p_value/2

3.2902372218867895e-05

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [95]:
# Your code here:
from scipy.stats import sem, t
from scipy import mean

hourly_lst =list(data[(data['Hourly Rate'].isnull() == False)]['Hourly Rate'])

confi = 0.95
n = len(hourly_lst)
m = np.mean(hourly_lst)
std_err = sem(hourly_lst)

value = std_err * t.ppf((1 + confi) / 2, n - 1)

start_val = m-value
end_val = m+value

print(start_val)
print("*")
print(end_val)

34.29839539204317
*
34.874504045196865

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [96]:
# Your code here:
pol_sal =list(data[(data['Department'] == 'POLICE') & (data['Annual Salary'].isnull() == False)]['Annual Salary'])

confi = 0.95
n = len(pol_sal)
m = np.mean(pol_sal)
std_err = sem(pol_sal)

value = std_err* t.ppf((1+confi)/2, n-1)

start_val = m-value
end_val = m+value

print(start_val)
print("*")
print(end_val)

88534.1182885883
*
89134.11955863392

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: