In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataLog = pd.read_csv('DataWithLog.csv')
dataLog

     month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain      area
0        2    1  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0  0.000000
1        4    0  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0  0.000000
2        4    1  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0  0.000000
3        2    1  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2  0.000000
4        2    1  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0  0.000000
..     ...  ...   ...    ...    ...   ...   ...  ..   ...   ...       ...
512      3    1  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0  2.006871
513      3    1  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  4.012592
514      3    1  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  2.498152
515      3    1  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0  0.000000
516      4    0  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0  0.000000

[517 rows x 11 columns]

In [3]:
from sklearn.preprocessing import StandardScaler

standardscaler = StandardScaler()

StandardData = standardscaler.fit(dataLog.drop(columns=['area','day','month']))
StandardData = standardscaler.transform(dataLog.drop(columns=['area','month','day']))
StandardData = pd.DataFrame(StandardData, columns=['FFMC','DMC','DC','ISI','temp','RH','wind','rain'])
StandardData['day'] = dataLog['day']
StandardData['month'] = dataLog['month']
StandardData['area'] = dataLog['area']
StandardData

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,day,month,area
0,-0.805959,-1.323326,-1.830477,-0.860946,-1.842640,0.411724,1.498614,-0.073268,1,2,0.000000
1,-0.008102,-1.179541,0.488891,-0.509688,-0.153278,-0.692456,-1.741756,-0.073268,0,4,0.000000
2,-0.008102,-1.049822,0.560715,-0.509688,-0.739383,-0.692456,-1.518282,-0.073268,1,4,0.000000
3,0.191362,-1.212361,-1.898266,-0.004756,-1.825402,3.233519,-0.009834,0.603155,1,2,0.000000
4,-0.243833,-0.931043,-1.798600,0.126966,-1.291012,3.356206,-1.238940,-0.073268,1,2,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
512,-1.640083,-0.846648,0.474768,-1.563460,1.536084,-0.753800,-0.736124,-0.073268,1,3,2.006871
513,-1.640083,-0.846648,0.474768,-1.563460,0.519019,1.638592,0.995798,-0.073268,1,3,4.012592
514,-1.640083,-0.846648,0.474768,-1.563460,0.398350,1.577248,1.498614,-0.073268,1,3,2.498152
515,0.680957,0.549003,0.269382,0.500176,1.156839,-0.140366,-0.009834,-0.073268,1,3,0.000000
516,-2.020879,-1.685913,-1.780442,-1.739089,-1.222058,-0.815143,0.269509,-0.073268,0,4,0.000000

In [4]:
def OrderArea(number):
    if (number>0) and (number<1):
        number = 1
    elif (number>=1) and (number<2):
        number = 2
    elif (number>=2) and (number<3):
        number = 3
    elif (number>=3) and (number<4):
        number = 4
    elif (number>=4) and (number<5):
        number = 5
    elif (number>5):
        number = 6
    
    return number

In [5]:
StandardData['area'] = StandardData['area'].apply(lambda row: OrderArea(row))
StandardData

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,day,month,area
0,-0.805959,-1.323326,-1.830477,-0.860946,-1.842640,0.411724,1.498614,-0.073268,1,2,0.0
1,-0.008102,-1.179541,0.488891,-0.509688,-0.153278,-0.692456,-1.741756,-0.073268,0,4,0.0
2,-0.008102,-1.049822,0.560715,-0.509688,-0.739383,-0.692456,-1.518282,-0.073268,1,4,0.0
3,0.191362,-1.212361,-1.898266,-0.004756,-1.825402,3.233519,-0.009834,0.603155,1,2,0.0
4,-0.243833,-0.931043,-1.798600,0.126966,-1.291012,3.356206,-1.238940,-0.073268,1,2,0.0
...,...,...,...,...,...,...,...,...,...,...,...
512,-1.640083,-0.846648,0.474768,-1.563460,1.536084,-0.753800,-0.736124,-0.073268,1,3,3.0
513,-1.640083,-0.846648,0.474768,-1.563460,0.519019,1.638592,0.995798,-0.073268,1,3,5.0
514,-1.640083,-0.846648,0.474768,-1.563460,0.398350,1.577248,1.498614,-0.073268,1,3,3.0
515,0.680957,0.549003,0.269382,0.500176,1.156839,-0.140366,-0.009834,-0.073268,1,3,0.0
516,-2.020879,-1.685913,-1.780442,-1.739089,-1.222058,-0.815143,0.269509,-0.073268,0,4,0.0

In [6]:
StandardData['area'].value_counts()

# The reason why we went until 6 is because there are not enough values over 7. This would cause our SMOTE library to not
# work properly. It needs atleast 5 values per possible outcome.

0.0    247
2.0     84
3.0     74
1.0     52
4.0     37
5.0     14
6.0      9
Name: area, dtype: int64

In [7]:
from imblearn.over_sampling import SMOTE
from collections import Counter
from sklearn.preprocessing import LabelEncoder

X = StandardData.drop(columns=['area'])
y = StandardData['area']

oversample = SMOTE()
X, y = oversample.fit_resample(X, y)

counter = Counter(y)
print(counter)

Counter({0.0: 247, 1.0: 247, 2.0: 247, 3.0: 247, 4.0: 247, 5.0: 247, 6.0: 247})

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.neighbors import KNeighborsClassifier

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25)

smote_model = KNeighborsClassifier(n_neighbors=3)
smote_model.fit(X_train, y_train)
smote_model.score(X_train, y_train)

0.8665123456790124

In [9]:
smote_model.score(X_test, y_test)

# Overfitting?

0.7159353348729792

In [10]:
from sklearn.model_selection import cross_val_score

crossvalscore = cross_val_score(KNeighborsClassifier(n_neighbors=3), X, y, cv=20)
print(crossvalscore)
np.mean(crossvalscore)

[0.71264368 0.70114943 0.70114943 0.74712644 0.7816092  0.66666667
 0.66666667 0.77011494 0.7816092  0.77906977 0.8255814  0.74418605
 0.68604651 0.69767442 0.72093023 0.72093023 0.76744186 0.74418605
 0.69767442 0.75581395]

0.7334135257952419

# Calculating REAL areas

In [13]:
# real_area = e to the power of logarea minus 1 e = np.exp()

Scale1 = np.exp(1)-1
Scale2 = np.exp(2)-1
Scale3 = np.exp(3)-1
Scale4 = np.exp(4)-1
Scale5 = np.exp(5)-1
Scale6 = np.exp(6)-1
print('Scale 1:',Scale1,'HA\n','Scale 2:',Scale2,'HA\n','Scale 3:',Scale3,'HA\n','Scale 4:',Scale4,'HA\n','Scale 5:',Scale5,'HA\n',
     'Scale 6:',Scale6,'HA and bigger')

Scale 1: 1.718281828459045 HA
 Scale 2: 6.38905609893065 HA
 Scale 3: 19.085536923187668 HA
 Scale 4: 53.598150033144236 HA
 Scale 5: 147.4131591025766 HA
 Scale 6: 402.4287934927351 HA and bigger