# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [158]:
# import libraries
import pandas as pd
import numpy as np

#### Import data set.

Import data set `Pokemon` from Ironhack's database. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [119]:
# import data set from Ironhack's database

pokemon = pd.read_csv('../data/Pokemon.csv')

#### Print first 10 rows of `pokemon`.

In [17]:
# your code here

pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [61]:
# your code here

pokemon_types = pokemon[['Type 1', 'Type 2']].values.ravel()

pokemon_types_u = pd.unique(pokemon_types)

pokemon_types_u

array(['Grass', 'Poison', 'Fire', nan, 'Flying', 'Dragon', 'Water', 'Bug',
       'Normal', 'Electric', 'Ground', 'Fairy', 'Fighting', 'Psychic',
       'Rock', 'Steel', 'Ice', 'Ghost', 'Dark'], dtype=object)

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [99]:
import re

In [120]:
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [125]:
# your code here

for index in pokemon.index: 
    pokemon["Name"][index] = re.sub(".*Mega", "Mega",pokemon["Name"][index])


# test transformed data
pokemon.head(10)

<ipython-input-125-88a526440114>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon["Name"][index] = re.sub(".*Mega", "Mega",pokemon["Name"][index])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [ ]:
#Iryna's solution:
pokemon['Name'] = pokemon['Name'].str.replace(r'^.*?Mega','Mega ')

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [145]:
# your code here
pokemon['A/D_Ratio'] = pokemon.Attack / pokemon.Defense

pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Combo Type,A/D_Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Grass-Poison,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Grass-Poison,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Grass-Poison,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Grass-Poison,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Fire,1.209302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,Rock-Fairy,0.666667
796,719,Mega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,Rock-Fairy,1.454545
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,Psychic-Ghost,1.833333
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,Psychic-Dark,2.666667
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,Fire-Water,0.916667

#### Identify the pokemon with the highest `A/D Ratio`.

In [79]:
# your code here

pokemon['A/D_Ratio'].max()

pokemon_max = pokemon.loc[(pokemon['A/D_Ratio']==9)]
    
pokemon_max

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D_Ratio
429,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [81]:
# your code here

pokemon['A/D_Ratio'].min()

pokemon_min = pokemon.loc[(pokemon['A/D_Ratio']==0.043478260869565216)]

pokemon_min

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D_Ratio
230,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [131]:
# your code here
['Combo Type'] = pokemon[['Type 1'+'Type 2']]

null_combo_type = combo.isnull().sum()
null_combo_type

Type 1      0
Type 2    386
dtype: int64

In [147]:
pokemon.loc[(pokemon['Type 1'].isnull() == False) & 
              (pokemon['Type 2'].isnull() == False),'Combo Type'] = pokemon['Type 1'] + '-' + pokemon['Type 2'] 
pokemon.loc[(pokemon['Type 1'].isnull() == False) & 
              (pokemon['Type 2'].isnull() == True),'Combo Type'] = pokemon['Type 1']
pokemon.loc[(pokemon['Type 1'].isnull() == True) & 
              (pokemon['Type 2'].isnull() == False),'Combo Type'] = pokemon['Type 2']
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Combo Type,A/D_Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Grass-Poison,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Grass-Poison,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Grass-Poison,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Grass-Poison,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Fire,1.209302
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,Fire,1.103448
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,Fire-Flying,1.076923
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,Fire-Dragon,1.171171
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,Fire-Flying,1.333333
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,Water,0.738462

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [174]:
pokemon_list_ratio_ordered = (pokemon.sort_values(by=['A/D_Ratio'], ascending=False))

pokemon_list_ratio_ordered

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Combo Type,A/D_Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,Psychic,9.000000
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,Water-Dark,4.500000
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,Bug-Poison,3.750000
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,Rock,3.125000
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,Water-Dark,3.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,555,DarmanitanZen Mode,Fire,Psychic,540,105,30,105,140,105,55,5,False,Fire-Psychic,0.285714
103,95,Onix,Rock,Ground,385,35,45,160,30,45,70,1,False,Rock-Ground,0.281250
484,436,Bronzor,Steel,Psychic,300,57,24,86,24,86,23,4,False,Steel-Psychic,0.279070
139,129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False,Water,0.181818
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,Bug-Rock,0.043478

In [188]:
# your code here

pokemon_list_ratio_5 = (pokemon.sort_values(by=['A/D_Ratio'], ascending=False)).head(5)

pokemon_list_ratio_5

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Combo Type,A/D_Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,Psychic,9.000
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,Water-Dark,4.500
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,Bug-Poison,3.750
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,Rock,3.125
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,Water-Dark,3.000

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [182]:
# your code here

pokemon_list_ratio = pokemon_list_ratio_5['Combo Type']
pokemon_list_ratio = pokemon_list_ratio_5.to_numpy()

In [171]:
pokemon_list_ratio

array(['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock', 'Water-Dark'],
      dtype=object)

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [183]:

# your code here

pokemon_list_ratio_5.mean(axis =0)

#             289.200
Total         442.000
HP             59.400
Attack        133.000
Defense        32.000
Sp. Atk        77.000
Sp. Def        38.000
Speed         102.600
Generation      2.800
Legendary       0.200
A/D_Ratio       4.675
dtype: float64

In [199]:

for index in pokemon_list_ratio_5.index: 
    pokemon_list_ratio_5[index] = pokemon_list_ratio_5[index].mean()

pokemon_list_ratio_5

KeyError: 429