In [1]:
import pandas as pd
import numpy as np
import os
import pymysql
from sqlalchemy import create_engine

In [2]:
engine = create_engine('mysql+pymysql://sebastieniron:Gsm0474083668@localhost:3306/stockdata')
sqlstr = 'select * from data2008'
data2008 = pd.read_sql_query(sqlstr, engine)

In [3]:
# Let's select data from a month before election day until a month after election day 4 November Tuesday.
# Tuesday 1st of October 2008 until Thursday 4nd December 2004

datamonth = data2008.loc[(data2008['Date'].str.startswith('2008-10'))|
                         (data2008['Date'].str.startswith('2008-11'))|
                         (data2008['Date'].str.startswith('2008-12-01'))|
                         (data2008['Date'].str.startswith('2008-12-02'))|
                         (data2008['Date'].str.startswith('2008-12-03'))|
                         (data2008['Date'].str.startswith('2008-12-04'))]
datamonth

              Date    Open    High     Low   Close   Volume  OpenInt      Name
189     2008-10-01  19.698  20.197  19.462  20.030  3866057        0     \a.us
190     2008-10-02  19.792  19.846  18.930  18.994  4815193        0     \a.us
191     2008-10-03  19.226  19.771  19.089  19.089  4778208        0     \a.us
192     2008-10-06  18.766  18.766  17.356  18.218  6703640        0     \a.us
193     2008-10-07  18.401  18.562  16.917  16.951  5728714        0     \a.us
...            ...     ...     ...     ...     ...      ...      ...       ...
831998  2008-11-28   8.210   8.660   8.100   8.640   120172        0  \zumz.us
831999  2008-12-01   8.350   8.560   7.270   7.270   334630        0  \zumz.us
832000  2008-12-02   7.490   7.570   7.050   7.560   335026        0  \zumz.us
832001  2008-12-03   7.300   8.490   7.300   8.390   423074        0  \zumz.us
832002  2008-12-04   8.260   8.930   7.650   8.280   489012        0  \zumz.us

[152468 rows x 8 columns]

In [4]:
# DF that contains a summarizing statistics per stock
ticker = []
vol_ratio = []
mean_close = []
std_close = []
begin_prices = []
close_prices = []

for stockname in datamonth['Name'].unique():
    name = stockname
    ticker.append(name)
    
    datastock = datamonth.loc[(datamonth['Name']==stockname)]
    
    std = np.std(datastock['Close'])
    std_close.append(std)
    
    mean = np.mean(datastock['Close'])
    mean_close.append(mean)
    
    volratio = std/mean*100
    vol_ratio.append(volratio)
        
    price1 = datamonth.loc[(datamonth['Name']==stockname) &
                           (datamonth['Date']=='2008-10-01')]
    beginprice = np.float64(price1['Close'])
    begin_prices.append(beginprice)
    
    price2 = datamonth.loc[(datamonth['Name']==stockname) &
                           (datamonth['Date']=='2008-12-04')]
    closeprice = np.float64(price2['Close'])
    close_prices.append(closeprice)

In [5]:
# Let's make a function that creates a dataframe out of the summary characteristics.
def DFcreation(names, beginprices, closeprices, meanclose, stdclose, volratios):
    df = pd.DataFrame()
    df['Ticker'] = names
    df['OpeningPrice'] = beginprices
    df['ClosingPrice'] = closeprices
    df['MeanPrice'] = meanclose
    df['StdPrice'] = stdclose
    df['%_VolatilityRatio'] = volratios
    df['OpeningPrice'] = df['OpeningPrice']
    df['%_Gain/Lose'] = ((df['ClosingPrice']-df['OpeningPrice'])/df['OpeningPrice'])*100
    return df

In [7]:
df = DFcreation(ticker, begin_prices, close_prices, mean_close, std_close, vol_ratio)
df = df[df.astype(str)['%_Gain/Lose'] != '[]']
df['%_Gain/Lose'] = df['%_Gain/Lose'].astype('float')
df['ClosingPrice'] = df['ClosingPrice'].astype('float')

In [8]:
vol_month_mean = np.mean(df['%_VolatilityRatio'])
GL_month_mean = np.mean(df['%_Gain/Lose'])
print("The mean volatility ratio from 2008/10/01 until 2008/12/04:", round(vol_month_mean, 2),"%",
      "\nThe mean Gain or Lose ratio 2008/10/01 until 2008/12/04:", round(GL_month_mean, 2),"%",)

The mean volatility ratio from 2008/10/01 until 2008/12/04: 17.0 %
The mean Gain or Lose ratio 2008/10/01 until 2008/12/04: -34.32 %

# 2008: Week Before & Week After

In [9]:
dataweek = data2008.loc[(data2008['Date'].str.startswith('2008-10-28'))|
                         (data2008['Date'].str.startswith('2008-10-29'))|
                         (data2008['Date'].str.startswith('2008-10-30'))|
                         (data2008['Date'].str.startswith('2008-10-31'))|
                         (data2008['Date'].str.startswith('2008-11-01'))|
                         (data2008['Date'].str.startswith('2008-11-02'))|
                         (data2008['Date'].str.startswith('2008-11-03'))|
                         (data2008['Date'].str.startswith('2008-11-04'))|
                         (data2008['Date'].str.startswith('2008-11-05'))|
                         (data2008['Date'].str.startswith('2008-11-06'))|
                         (data2008['Date'].str.startswith('2008-11-07'))|
                         (data2008['Date'].str.startswith('2008-11-08'))|
                         (data2008['Date'].str.startswith('2008-11-09'))|
                         (data2008['Date'].str.startswith('2008-11-10'))|
                         (data2008['Date'].str.startswith('2008-11-11'))]
dataweek

              Date    Open    High     Low   Close   Volume  OpenInt      Name
208     2008-10-28  13.042  14.276  12.791  14.276  5048049        0     \a.us
209     2008-10-29  14.359  15.120  13.919  14.379  5366740        0     \a.us
210     2008-10-30  14.844  15.282  14.688  15.209  3663221        0     \a.us
211     2008-10-31  14.946  15.646  14.715  14.979  6297487        0     \a.us
212     2008-11-03  14.939  15.667  14.879  15.526  3317233        0     \a.us
...            ...     ...     ...     ...     ...      ...      ...       ...
831982  2008-11-05   9.190   9.190   8.590   8.590   425527        0  \zumz.us
831983  2008-11-06   8.460   8.690   7.730   8.000   686678        0  \zumz.us
831984  2008-11-07   8.070   8.670   7.760   8.620   335945        0  \zumz.us
831985  2008-11-10   8.830   8.950   7.680   7.790   555951        0  \zumz.us
831986  2008-11-11   7.810   8.260   7.280   7.880   307142        0  \zumz.us

[36372 rows x 8 columns]

In [10]:
# DF that contains a summarizing statistics per stock
ticker = []
vol_ratio = []
mean_close = []
std_close = []
begin_prices = []
close_prices = []

for stockname in dataweek['Name'].unique():
    name = stockname
    ticker.append(name)
    
    datastock = dataweek.loc[(dataweek['Name']==stockname)]
    
    std = np.std(datastock['Close'])
    std_close.append(std)
    
    mean = np.mean(datastock['Close'])
    mean_close.append(mean)
    
    volratio = std/mean*100
    vol_ratio.append(volratio)
        
    price1 = dataweek.loc[(dataweek['Name']==stockname) &
                           (dataweek['Date']=='2008-10-28')]
    beginprice = np.float64(price1['Close'])
    begin_prices.append(beginprice)
    
    price2 = dataweek.loc[(dataweek['Name']==stockname) &
                           (dataweek['Date']=='2008-11-11')]
    closeprice = np.float64(price2['Close'])
    close_prices.append(closeprice)

In [14]:
dfweek = DFcreation(ticker, begin_prices, close_prices, mean_close, std_close, vol_ratio)
dfweek = dfweek[dfweek.astype(str)['%_Gain/Lose'] != '[]']
dfweek['%_Gain/Lose'] = dfweek['%_Gain/Lose'].astype('float')
dfweek['ClosingPrice'] = dfweek['ClosingPrice'].astype('float')

In [15]:
vol_week_mean = np.mean(dfweek['%_VolatilityRatio'])
GL_week_mean = np.mean(dfweek['%_Gain/Lose'])
print("The mean volatility ratio from 2008/10/28 until 2008/11/11:", round(vol_week_mean, 2),"%",
      "\nThe mean Gain or Lose ratio 2008/10/28 until 2008/11/11:", round(GL_week_mean, 2),"%",)

The mean volatility ratio from 2008/10/28 until 2008/11/11: 6.78 %
The mean Gain or Lose ratio 2008/10/28 until 2008/11/11: 0.38 %

# 2008: Day Before & Day After

In [16]:
dataday = data2008.loc[(data2008['Date'].str.startswith('2008-11-03'))|
                         (data2008['Date'].str.startswith('2008-11-04'))|
                         (data2008['Date'].str.startswith('2008-11-05'))]
dataday

,Date,Open,High,Low,Close,Volume,OpenInt,Name
212,2008-11-03,14.9390,15.6670,14.8790,15.5260,3317233,0,\a.us
213,2008-11-04,15.8490,16.9240,15.8240,16.6340,4761736,0,\a.us
214,2008-11-05,16.3500,16.6130,15.6870,15.7000,3181797,0,\a.us
465,2008-11-03,24.7000,25.3060,23.5510,24.8000,10108763,0,\aa.us
466,2008-11-04,25.7640,26.2480,23.6980,26.0350,13337940,0,\aa.us
...,...,...,...,...,...,...,...,...
831728,2008-11-04,6.7261,6.8202,6.7058,6.8202,336870,0,\ztr.us
831729,2008-11-05,6.8390,6.9339,6.7058,6.7442,212439,0,\ztr.us
831980,2008-11-03,9.7600,10.0500,9.5100,9.7200,297588,0,\zumz.us
831981,2008-11-04,9.8700,10.1200,9.1500,9.3500,322374,0,\zumz.us
831982,2008-11-05,9.1900,9.1900,8.5900,8.5900,425527,0,\zumz.us

In [20]:
# DF that contains a summarizing statistics per stock
ticker = []
vol_ratio = []
mean_close = []
std_close = []
begin_prices = []
close_prices = []

for stockname in dataday['Name'].unique():
    name = stockname
    ticker.append(name)
    
    datastock = dataday.loc[(dataday['Name']==stockname)]
    
    std = np.std(datastock['Close'])
    std_close.append(std)
    
    mean = np.mean(datastock['Close'])
    mean_close.append(mean)
    
    volratio = std/mean*100
    vol_ratio.append(volratio)
        
    price1 = dataday.loc[(dataday['Name']==stockname) &
                           (dataday['Date']=='2008-11-03')]
    beginprice = np.float64(price1['Close'])
    begin_prices.append(beginprice)
    
    price2 = dataday.loc[(dataday['Name']==stockname) &
                           (dataday['Date']=='2008-11-05')]
    closeprice = np.float64(price2['Close'])
    close_prices.append(closeprice)

In [24]:
dfday = DFcreation(ticker, begin_prices, close_prices, mean_close, std_close, vol_ratio)
dfday = dfday[dfday.astype(str)['%_Gain/Lose'] != '[]']
dfday['%_Gain/Lose'] = dfday['%_Gain/Lose'].astype('float')
dfday['ClosingPrice'] = dfday['ClosingPrice'].astype('float')

In [26]:
vol_day_mean = np.mean(dfday['%_VolatilityRatio'])
GL_day_mean = np.mean(dfday['%_Gain/Lose'])
print("The mean volatility ratio from 2008/11/03 until 2008/11/05:", round(vol_day_mean, 2),"%",
      "\nThe mean Gain or Lose ratio 2008/11/03 until 2008/11/05:", round(GL_day_mean, 2),"%",)

The mean volatility ratio from 2008/11/03 until 2008/11/05: 3.36 %
The mean Gain or Lose ratio 2008/11/03 until 2008/11/05: -1.57 %

In [27]:
df2008 = pd.DataFrame()
df2008['Year'] = [2008,2008,2008]
df2008['Period'] = ['Day','Week','Month']
df2008['%_Vol_Mean'] = [vol_day_mean,vol_week_mean,vol_month_mean]
df2008['%_GainLose_Mean'] = [GL_day_mean,GL_week_mean,GL_month_mean]
df2008

   Year Period  %_Vol_Mean  %_GainLose_Mean
0  2008    Day    3.363790        -1.569985
1  2008   Week    6.784961         0.378328
2  2008  Month   17.001178       -34.323683

In [28]:
df2008.to_csv('df2008.csv', index=False)