In [1]:
import pandas as pd
import numpy as np
import os
import pymysql
from sqlalchemy import create_engine

In [2]:
engine = create_engine('mysql+pymysql://sebastieniron:Gsm0474083668@localhost:3306/stockdata')
sqlstr = 'select * from data2016'
data2016 = pd.read_sql_query(sqlstr, engine)

In [3]:
# Let's select data from a month before election day until a month after election day 8 November Tuesday.
# Tuesday 1st of October 2012 until Thursday 8nd December 2012

datamonth = data2016.loc[(data2016['Date'].str.startswith('2016-10'))|
                         (data2016['Date'].str.startswith('2016-11'))|
                         (data2016['Date'].str.startswith('2016-12-01'))|
                         (data2016['Date'].str.startswith('2016-12-02'))|
                         (data2016['Date'].str.startswith('2016-12-03'))|
                         (data2016['Date'].str.startswith('2016-12-04'))|
                         (data2016['Date'].str.startswith('2016-12-05'))|
                         (data2016['Date'].str.startswith('2016-12-06'))|
                         (data2016['Date'].str.startswith('2016-12-07'))|
                         (data2016['Date'].str.startswith('2016-12-08'))]
datamonth

,Date,Open,High,Low,Close,Volume,OpenInt,Name
189,2016-10-03,46.372,46.778,46.3720,46.689,1554510,0,\a.us
190,2016-10-04,46.619,46.846,46.2230,46.381,1781039,0,\a.us
191,2016-10-05,46.589,46.856,46.4780,46.699,1446115,0,\a.us
192,2016-10-06,46.560,46.976,46.4310,46.846,1789902,0,\a.us
193,2016-10-07,46.876,47.036,46.5400,46.926,1679206,0,\a.us
...,...,...,...,...,...,...,...,...
1470336,2016-12-02,12.800,13.750,12.7844,13.640,163922,0,\zyne.us
1470337,2016-12-05,13.720,14.000,12.8800,13.180,203248,0,\zyne.us
1470338,2016-12-06,14.100,14.640,13.3800,14.460,304463,0,\zyne.us
1470339,2016-12-07,14.590,14.660,13.7500,14.510,183639,0,\zyne.us
1470340,2016-12-08,14.500,15.720,14.0200,15.530,324860,0,\zyne.us

In [10]:
# DF that contains a summarizing statistics per stock
ticker = []
vol_ratio = []
mean_close = []
std_close = []
begin_prices = []
close_prices = []

for stockname in datamonth['Name'].unique():
    name = stockname
    ticker.append(name)
    
    datastock = datamonth.loc[(datamonth['Name']==stockname)]
    
    std = np.std(datastock['Close'])
    std_close.append(std)
    
    mean = np.mean(datastock['Close'])
    mean_close.append(mean)
    
    volratio = std/mean*100
    vol_ratio.append(volratio)
        
    price1 = datamonth.loc[(datamonth['Name']==stockname) &
                           (datamonth['Date']=='2016-10-03')]
    beginprice = np.float64(price1['Close'])
    begin_prices.append(beginprice)
    
    price2 = datamonth.loc[(datamonth['Name']==stockname) &
                           (datamonth['Date']=='2016-12-08')]
    closeprice = np.float64(price2['Close'])
    close_prices.append(closeprice)

In [5]:
# Let's make a function that creates a dataframe out of the summary characteristics.
def DFcreation(names, beginprices, closeprices, meanclose, stdclose, volratios):
    df = pd.DataFrame()
    df['Ticker'] = names
    df['OpeningPrice'] = beginprices
    df['ClosingPrice'] = closeprices
    df['MeanPrice'] = meanclose
    df['StdPrice'] = stdclose
    df['%_VolatilityRatio'] = volratios
    df['OpeningPrice'] = df['OpeningPrice']
    df['%_Gain/Lose'] = ((df['ClosingPrice']-df['OpeningPrice'])/df['OpeningPrice'])*100
    return df

In [13]:
df = DFcreation(ticker, begin_prices, close_prices, mean_close, std_close, vol_ratio)
df = df[df.astype(str)['%_Gain/Lose'] != '[]']
df['%_Gain/Lose'] = df['%_Gain/Lose'].astype('float')
df['ClosingPrice'] = df['ClosingPrice'].astype('float')

In [14]:
vol_month_mean = np.mean(df['%_VolatilityRatio'])
GL_month_mean = np.mean(df['%_Gain/Lose'])
print("The mean volatility ratio from 2016/10/01 until 2016/12/08:", round(vol_month_mean, 2),"%",
      "\nThe mean Gain or Lose ratio 2016/10/01 until 2016/12/08:", round(GL_month_mean, 2),"%",)

The mean volatility ratio from 2016/10/01 until 2016/12/08: 6.94 %
The mean Gain or Lose ratio 2016/10/01 until 2016/12/08: 4.36 %

# 2016: Week Before & Week After

In [15]:
dataweek = data2016.loc[(data2016['Date'].str.startswith('2016-11-01'))|
                         (data2016['Date'].str.startswith('2016-11-02'))|
                         (data2016['Date'].str.startswith('2016-11-03'))|
                         (data2016['Date'].str.startswith('2016-11-04'))|
                         (data2016['Date'].str.startswith('2016-11-05'))|
                         (data2016['Date'].str.startswith('2016-11-06'))|
                         (data2016['Date'].str.startswith('2016-11-07'))|
                         (data2016['Date'].str.startswith('2016-11-08'))|
                         (data2016['Date'].str.startswith('2016-11-09'))|
                         (data2016['Date'].str.startswith('2016-11-10'))|
                         (data2016['Date'].str.startswith('2016-11-11'))|
                         (data2016['Date'].str.startswith('2016-11-12'))|
                         (data2016['Date'].str.startswith('2016-11-13'))|
                         (data2016['Date'].str.startswith('2016-11-14'))|
                         (data2016['Date'].str.startswith('2016-11-15'))]
dataweek

,Date,Open,High,Low,Close,Volume,OpenInt,Name
210,2016-11-01,43.311,43.6880,42.7270,43.074,2153738,0,\a.us
211,2016-11-02,43.054,43.3110,42.8250,42.845,2262089,0,\a.us
212,2016-11-03,42.915,43.5790,42.7660,43.241,2534321,0,\a.us
213,2016-11-04,43.271,44.4850,43.2710,43.896,2242381,0,\a.us
214,2016-11-07,44.560,45.3220,44.5600,45.272,1740625,0,\a.us
...,...,...,...,...,...,...,...,...
1470320,2016-11-09,12.590,13.8000,12.3600,13.420,240895,0,\zyne.us
1470321,2016-11-10,14.190,14.2200,13.0273,13.280,192417,0,\zyne.us
1470322,2016-11-11,13.250,13.6200,12.7200,13.550,201122,0,\zyne.us
1470323,2016-11-14,13.960,14.3984,13.6524,14.230,270813,0,\zyne.us
1470324,2016-11-15,14.500,14.7790,14.0000,14.440,324605,0,\zyne.us

In [16]:
# DF that contains a summarizing statistics per stock
ticker = []
vol_ratio = []
mean_close = []
std_close = []
begin_prices = []
close_prices = []

for stockname in dataweek['Name'].unique():
    name = stockname
    ticker.append(name)
    
    datastock = dataweek.loc[(dataweek['Name']==stockname)]
    
    std = np.std(datastock['Close'])
    std_close.append(std)
    
    mean = np.mean(datastock['Close'])
    mean_close.append(mean)
    
    volratio = std/mean*100
    vol_ratio.append(volratio)
        
    price1 = dataweek.loc[(dataweek['Name']==stockname) &
                           (dataweek['Date']=='2016-11-01')]
    beginprice = np.float64(price1['Close'])
    begin_prices.append(beginprice)
    
    price2 = dataweek.loc[(dataweek['Name']==stockname) &
                           (dataweek['Date']=='2016-11-15')]
    closeprice = np.float64(price2['Close'])
    close_prices.append(closeprice)

In [18]:
dfweek = DFcreation(ticker, begin_prices, close_prices, mean_close, std_close, vol_ratio)
dfweek = dfweek[dfweek.astype(str)['%_Gain/Lose'] != '[]']
dfweek['%_Gain/Lose'] = dfweek['%_Gain/Lose'].astype('float')
dfweek['ClosingPrice'] = dfweek['ClosingPrice'].astype('float')
df

,Ticker,OpeningPrice,ClosingPrice,MeanPrice,StdPrice,%_VolatilityRatio,%_Gain/Lose
0,\a.us,46.689,45.362,44.728792,1.221040,2.729875,-2.842211
1,\aa.us,22.494,31.310,25.532667,4.568712,17.893596,39.192674
2,\aaap.us,37.75,30.040,35.768542,3.141457,8.782736,-20.423841
3,\aaba.us,43.13,41.410,41.491563,1.096318,2.642267,-3.987943
4,\aac.us,17.61,8.320,12.664583,4.246942,33.534005,-52.754117
...,...,...,...,...,...,...,...
6347,\ztr.us,10.241,9.950,9.861958,0.211995,2.149624,-2.841519
6348,\zts.us,51.886,51.314,49.881062,1.153970,2.313443,-1.102417
6349,\zumz.us,18.07,25.950,23.138542,1.773533,7.664845,43.608190
6350,\zx.us,1.2101,1.400,1.148233,0.087580,7.627383,15.692918
6351,\zyne.us,13.7,15.530,12.982500,1.302866,10.035557,13.357664

In [19]:
vol_week_mean = np.mean(dfweek['%_VolatilityRatio'])
GL_week_mean = np.mean(dfweek['%_Gain/Lose'])
print("The mean volatility ratio from 2016/11/01 until 2016/11/15:", round(vol_week_mean, 2),"%",
      "\nThe mean Gain or Lose ratio 2016/11/01 until 2016/11/15:", round(GL_week_mean, 2),"%",)

The mean volatility ratio from 2016/11/01 until 2016/11/15: 4.59 %
The mean Gain or Lose ratio 2016/11/01 until 2016/11/15: 5.26 %

# 2016: Day Before & Day After

In [20]:
dataday= data2016.loc[(data2016['Date'].str.startswith('2016-11-07'))|
                         (data2016['Date'].str.startswith('2016-11-08'))|
                         (data2016['Date'].str.startswith('2016-11-09'))]
dataday

,Date,Open,High,Low,Close,Volume,OpenInt,Name
214,2016-11-07,44.560,45.3220,44.5600,45.272,1740625,0,\a.us
215,2016-11-08,45.045,45.5200,44.8860,45.182,2157399,0,\a.us
216,2016-11-09,44.976,45.6480,44.0650,45.500,3535093,0,\a.us
466,2016-11-07,25.448,26.3150,24.8010,24.990,8405198,0,\aa.us
467,2016-11-08,24.300,26.5900,24.3000,26.400,6469708,0,\aa.us
...,...,...,...,...,...,...,...,...
1470067,2016-11-08,1.090,1.1120,1.0584,1.090,13760,0,\zx.us
1470068,2016-11-09,1.070,1.0899,1.0201,1.070,2900,0,\zx.us
1470318,2016-11-07,12.600,13.3900,12.5000,13.080,218872,0,\zyne.us
1470319,2016-11-08,13.500,13.5000,12.5000,13.010,183124,0,\zyne.us
1470320,2016-11-09,12.590,13.8000,12.3600,13.420,240895,0,\zyne.us

In [21]:
# DF that contains a summarizing statistics per stock
ticker = []
vol_ratio = []
mean_close = []
std_close = []
begin_prices = []
close_prices = []

for stockname in dataday['Name'].unique():
    name = stockname
    ticker.append(name)
    
    datastock = dataday.loc[(dataday['Name']==stockname)]
    
    std = np.std(datastock['Close'])
    std_close.append(std)
    
    mean = np.mean(datastock['Close'])
    mean_close.append(mean)
    
    volratio = std/mean*100
    vol_ratio.append(volratio)
        
    price1 = dataday.loc[(dataday['Name']==stockname) &
                           (dataday['Date']=='2016-11-07')]
    beginprice = np.float64(price1['Close'])
    begin_prices.append(beginprice)
    
    price2 = dataday.loc[(dataday['Name']==stockname) &
                           (dataday['Date']=='2016-11-09')]
    closeprice = np.float64(price2['Close'])
    close_prices.append(closeprice)

In [23]:
dfday = DFcreation(ticker, begin_prices, close_prices, mean_close, std_close, vol_ratio)
dfday = dfday[dfday.astype(str)['%_Gain/Lose'] != '[]']
dfday['%_Gain/Lose'] = dfday['%_Gain/Lose'].astype('float')
dfday['ClosingPrice'] = dfday['ClosingPrice'].astype('float')

In [24]:
vol_day_mean = np.mean(dfday['%_VolatilityRatio'])
GL_day_mean = np.mean(dfday['%_Gain/Lose'])
print("The mean volatility ratio from 2016/11/07 until 2016/11/09:", round(vol_day_mean, 2),"%",
      "\nThe mean Gain or Lose ratio 2016/11/07 until 2016/11/09:", round(GL_day_mean, 2),"%",)

The mean volatility ratio from 2016/11/07 until 2016/11/09: 1.86 %
The mean Gain or Lose ratio 2016/11/07 until 2016/11/09: 2.03 %

In [25]:
df2016 = pd.DataFrame()
df2016['Year'] = [2016,2016,2016]
df2016['Period'] = ['Day','Week','Month']
df2016['%_Vol_Mean'] = [vol_day_mean,vol_week_mean,vol_month_mean]
df2016['%_GainLose_Mean'] = [GL_day_mean,GL_week_mean,GL_month_mean]
df2016

   Year Period  %_Vol_Mean  %_GainLose_Mean
0  2016    Day    1.860760         2.029704
1  2016   Week    4.588764         5.255477
2  2016  Month    6.939387         4.356298

In [26]:
df2016.to_csv('df2016.csv', index=False)