## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here

sample_list_1 = random.sample(range(0, 100), 80)

print(sample_list_1)

[22, 97, 41, 98, 19, 1, 82, 79, 63, 6, 23, 45, 31, 93, 18, 80, 96, 66, 75, 48, 30, 70, 61, 29, 77, 86, 99, 76, 91, 26, 20, 59, 60, 64, 73, 78, 44, 5, 49, 69, 25, 15, 0, 9, 54, 62, 67, 47, 33, 4, 90, 55, 12, 83, 85, 89, 94, 3, 57, 24, 65, 35, 32, 43, 11, 68, 46, 27, 21, 14, 38, 81, 37, 58, 40, 87, 42, 34, 39, 74]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here

set1 = set(sample_list_1)

print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here

sample_list_2 = random.sample(range(0, 100), 80)

print(sample_list_2)

[14, 83, 75, 66, 19, 65, 16, 49, 58, 13, 50, 11, 20, 21, 17, 18, 22, 94, 70, 63, 82, 45, 39, 27, 48, 90, 93, 57, 86, 55, 8, 80, 99, 3, 68, 87, 24, 92, 34, 53, 59, 72, 42, 12, 41, 26, 88, 43, 36, 81, 56, 98, 38, 71, 4, 91, 74, 7, 32, 97, 51, 25, 40, 95, 5, 23, 60, 44, 29, 31, 96, 85, 33, 73, 15, 10, 62, 69, 77, 79]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here

set2 = set(sample_list_2)

print(len(set2))

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here

set3 = set1

print(set3)

{0, 1, 3, 4, 5, 6, 9, 11, 12, 14, 15, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 87, 89, 90, 91, 93, 94, 96, 97, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here

set4 = set2

print(set4)

{3, 4, 5, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 31, 32, 33, 34, 36, 38, 39, 40, 41, 42, 43, 44, 45, 48, 49, 50, 51, 53, 55, 56, 57, 58, 59, 60, 62, 63, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 77, 79, 80, 81, 82, 83, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here

set5 = set1.intersection(set2)

print(set5)

{3, 4, 5, 11, 12, 14, 15, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 31, 32, 33, 34, 38, 39, 40, 41, 42, 43, 44, 45, 48, 49, 55, 57, 58, 59, 60, 62, 63, 65, 66, 68, 69, 70, 73, 74, 75, 77, 79, 80, 81, 82, 83, 85, 86, 87, 90, 91, 93, 94, 96, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here

print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

# set2 and set4 have always 80

80
80
80
80
64

#### Create an empty set called `set6`.

In [10]:
# Your code here

set6 = {}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here

set3.update(set5)

set6 = set3

print(set6)

{0, 1, 3, 4, 5, 6, 9, 11, 12, 14, 15, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 87, 89, 90, 91, 93, 94, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here

print("The amount of elements in set1 is:", len(set1))
print("The amount of elements in set6 is:", len(set6))

The amount of elements in set1 is: 80
The amount of elements in set6 is: 80

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here

issubset1 = set1.issubset(set2)
issubset2 = set1.issubset(set3)

print(issubset1)
print(issubset2)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here

union1 = set3.union(set4, set5)
union2 = set1.union(set2)

print(union1)
print(union2)

{0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here

pop1 = set1.pop()

print(pop1)

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

result = set1.remove(list_to_remove)

print(result)

TypeError: unhashable type: 'list'