# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [10]:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [30]:
pk_leg = pokemon[['Total', 'Legendary']].groupby('Legendary').agg(['mean', 'std']).transpose()
pk_leg

Legendary        False       True
Total mean  417.213605  637.384615
      std   106.760417   60.937389

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [37]:
from scipy.stats import ttest_ind

pk_legendary = list(pokemon[pokemon['Legendary'] == True]['Total'])
print(len(pk_legendary))

pk_nonlegendary = list(pokemon[pokemon['Legendary'] == False]['Total'])
print(len(pk_nonlegendary))

legendary = pd.DataFrame({'Legendary': pk_legendary, 'Non_Legendary': np.random.choice(pk_nonlegendary, 65, replace=False)})
legendary

#H0: µ(legendary) = µ(non legendary)
#H1: µ(legendary) != µ(non legendary)
ttest_ind(legendary.Legendary,  legendary.Non_Legendary, equal_var=False)

65
735

Ttest_indResult(statistic=13.778871632303442, pvalue=5.088884802447675e-25)

What do you conclude from this test? Write your conclusions below.

In [6]:
"""
We can reject the null hypothesis as p-value is < 0.05.
Also, statistic tells us that µ(legendary) is higher by 13times the standard error than µ(non legendary)
"""

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [38]:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ghost        32
Ground       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [57]:
#pk_type = pokemon[['Total', 'Type 1']].groupby('Type 1').agg(['mean', 'std']).transpose()

print(np.mean(pokemon[pokemon['Type 1'] != 'Water']['Total']))
print(np.std(pokemon[pokemon['Type 1'] != 'Water']['Total']))

print(np.mean(pokemon[pokemon['Type 1'] == 'Water']['Total']))
print(np.std(pokemon[pokemon['Type 1'] == 'Water']['Total']))

435.85901162790697
121.00364762501167
430.45535714285717
112.68182832909096

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [60]:
#H0: µ(water) = µ(non water)
#H1: µ(water) != µ(non water)

from scipy.stats import ttest_ind_from_stats
ttest_ind_from_stats(np.mean(pokemon[pokemon['Type 1'] != 'Water']['Total']),
                                 np.std(pokemon[pokemon['Type 1'] != 'Water']['Total']),
                                 len(list(pokemon[pokemon['Type 1'] != 'Water']['Total'])),
                                 np.mean(pokemon[pokemon['Type 1'] == 'Water']['Total']),
                                 np.std(pokemon[pokemon['Type 1'] == 'Water']['Total']),
                                 len(list(pokemon[pokemon['Type 1'] == 'Water']['Total'])),
                                 equal_var=True)

Ttest_indResult(statistic=0.4423810933856032, pvalue=0.6583333307531565)

Write your conclusion below.

In [10]:
#We cannot reject the null hypothesis as p-value is > 0.05. Hence we can't say that there is a significant difference 
#between the 2 means.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [61]:
from scipy.stats import ttest_rel

#H0: µ(attack) = µ(defense)
#H1: µ(attack) != µ(defense)

ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
"""
p-value is < 0.05, so we can reject the null hypothesis. Though that was our hypothesis.
So we can say that there is a significant difference between the attack and defense columns.
"""

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [62]:
#H0: µ(special attack) = µ(special defense)
#H1: µ(special attack) != µ(special defense)

ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
"""
p-value is > 0.05, so we cannot reject the null hypothesis. 
So we can say that there is no significant difference between the special attack and special defense columns.
"""

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [63]:
from scipy.stats import ttest_1samp

ttest_1samp((pokemon['Defense'] - pokemon['Attack']), 0)    

#p-value is < 0.05, so we can reject the null hypothesis that the mean of the differences is 0

Ttest_1sampResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: