# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [10]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [11]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [12]:
pokemon.shape

(800, 13)

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [13]:
# Your code here:
#pokemon legendary count
pokemon_legendary = pokemon[(pokemon['Legendary'] == True)]
pokemon_legendary.count()

#             65
Name          65
Type 1        65
Type 2        40
Total         65
HP            65
Attack        65
Defense       65
Sp. Atk       65
Sp. Def       65
Speed         65
Generation    65
Legendary     65
dtype: int64

In [14]:
#pokemon non -legendary count
pokemon_non_leg = pokemon[(pokemon['Legendary'] == False)]
pokemon_non_leg.count()

#             735
Name          735
Type 1        735
Type 2        374
Total         735
HP            735
Attack        735
Defense       735
Sp. Atk       735
Sp. Def       735
Speed         735
Generation    735
Legendary     735
dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [15]:
# Your code here:
pokemon_legendary.mean()

#             470.215385
Total         637.384615
HP             92.738462
Attack        116.676923
Defense        99.661538
Sp. Atk       122.184615
Sp. Def       105.938462
Speed         100.184615
Generation      3.769231
Legendary       1.000000
dtype: float64

In [16]:
pokemon_legendary.std()

#             173.651095
Total          60.937389
HP             21.722164
Attack         30.348037
Defense        28.255131
Sp. Atk        31.104608
Sp. Def        28.827004
Speed          22.952323
Generation      1.455262
Legendary       0.000000
dtype: float64

In [17]:
#Non-legendary Pokemon mean and std
pokemon_non_leg.mean()

#             353.315646
Total         417.213605
HP             67.182313
Attack         75.669388
Defense        71.559184
Sp. Atk        68.454422
Sp. Def        68.892517
Speed          65.455782
Generation      3.284354
Legendary       0.000000
dtype: float64

In [18]:
pokemon_non_leg.std()

#             208.590419
Total         106.760417
HP             24.808849
Attack         30.490153
Defense        30.408194
Sp. Atk        29.091705
Sp. Def        25.669310
Speed          27.843038
Generation      1.673471
Legendary       0.000000
dtype: float64

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [25]:
# Your code here:
from scipy.stats import ttest_ind

In [26]:
pokemon['Total'].count()

800

In [27]:
sample_legendary = pokemon.query('Legendary == True').reset_index(drop=True)

In [51]:
sample_legendary

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
1,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
2,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
3,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
4,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
61,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
62,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
63,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
64,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [28]:
sample_non_legendary = pokemon.query('Legendary == False').reset_index(drop=True)

In [29]:
sample_legendary.shape, sample_non_legendary.shape

((65, 13), (735, 13))

In [34]:
ttest_ind(sample_legendary.Total, sample_non_legendary.Total, equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

# Your conclusions here:
"""H0: "Total" Legenday and non legendary total is the same
H1: Theere is a difference in total

As the pvalue < 0.05,
we can reject the null hypothesis in this case 
"""

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [41]:
# Your code here:
pokemon['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [42]:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Dragon       32
Ghost        32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [43]:
# Your code here:
pokemon[(pokemon['Type 1'] == 'Water')].describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000
mean,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143
std,188.440807,113.188266,27.487026,28.377192,27.773809,29.030128,28.460493,23.019353,1.558800
min,7.000000,200.000000,20.000000,10.000000,20.000000,10.000000,20.000000,15.000000,1.000000
25%,130.000000,328.750000,52.250000,53.000000,54.500000,55.000000,50.000000,50.000000,1.000000
50%,275.000000,455.000000,70.000000,72.000000,70.000000,70.000000,65.000000,65.000000,3.000000
75%,456.250000,502.250000,90.250000,92.000000,88.500000,90.500000,89.250000,82.000000,4.000000
max,693.000000,770.000000,170.000000,155.000000,180.000000,180.000000,160.000000,122.000000,6.000000

In [44]:
pokemon[(pokemon['Type 1'] != 'Water')].describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000
mean,372.536337,435.859012,68.802326,79.790698,73.988372,72.495640,72.127907,68.654070,3.399709
std,209.928799,121.091682,25.194299,33.025152,31.719933,33.292537,27.739292,29.925907,1.666119
min,1.000000,180.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.000000
25%,197.750000,330.000000,50.000000,55.000000,50.000000,45.000000,50.000000,45.000000,2.000000
50%,380.000000,450.000000,65.000000,76.000000,70.000000,65.000000,70.000000,65.000000,3.000000
75%,553.250000,515.000000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.000000
max,721.000000,780.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.000000

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [47]:
# Your code here:
water = pokemon[(pokemon['Type 1'] == 'Water')]
non_water = pokemon[(pokemon['Type 1'] != 'Water')]
water.shape, non_water.shape

((112, 13), (688, 13))

In [50]:
ttest_ind(water.Total, non_water.Total, equal_var=False)

Ttest_indResult(statistic=-0.4638681676327303, pvalue=0.6433915385821449)

Write your conclusion below.

# Your conclusions here:
as p value > 0.05, the variance is equal between water and non-water pokemons. So null hypothesis is maintained.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [53]:
# Your code here:
from scipy.stats import ttest_rel
#ttest_rel(blood_pressure.after, blood_pressure.before)
ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

# Your conclusions here:
As the p value much less than < 0.05, we can reject the null hypothesis of equal means (i.e. defense and attack are equals)

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [54]:
# Your code here:
ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

# Your conclusions here:

As the p value > 0.05, we "cannot" reject the null hypothesis of equal means.
Which means Special defense and Special attack are relatively equals.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [56]:
# Your code here:
from scipy.stats import ttest_1samp

ttest_1samp(pokemon['Defense'] - pokemon['Attack'], 0)    

# As observed above Both tteest_rel and ttest_amp give the same results.

Ttest_1sampResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [65]:
# Your code here:
water_legendary = pd.crosstab(index=pokemon['Legendary'],
                              columns=pokemon['Type 1'] == 'Water')

water_legendary

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [66]:
# Your code here:
from scipy.stats import chi2_contingency

Based on a 95% confidence, should we reject the null hypothesis?

In [67]:
# Your answer here:

chi2, p, dof, ex = chi2_contingency(water_legendary, correction=False)

chi2, p

(3.617455159932616, 0.0571762700873503)

p_value higher than 0.05 Impossible to reject Null hypothesis

Null hypothesis can be considered True = No significant difference between Water & Non-Water Legendary Pokemon