In [1]:
import pandas as pd
import numpy as np
import os
import pymysql
from sqlalchemy import create_engine

In [34]:
engine = create_engine('mysql+pymysql://sebastieniron:Gsm0474083668@localhost:3306/stockdata')
sqlstr = 'select * from data1996'
data1996 = pd.read_sql_query(sqlstr, engine)

# 1996: Month Before & Month After

In [35]:
# Let's select data from a month before election day until a month after election day.
# Tuesday 1st of October 1996 until Thursday 5rd December 1996

datamonth = data1996.loc[(data1996['Date'].str.startswith('1996-10'))|
                        (data1996['Date'].str.startswith('1996-11'))|
                        (data1996['Date'].str.startswith('1996-12-01'))|
                        (data1996['Date'].str.startswith('1996-12-02'))|
                        (data1996['Date'].str.startswith('1996-12-03'))|
                        (data1996['Date'].str.startswith('1996-12-04'))|
                        (data1996['Date'].str.startswith('1996-12-05'))]
datamonth

             Date    Open    High     Low   Close   Volume  OpenInt      Name
190    1996-10-01  28.939  29.356  28.812  29.320  1336832        0    \aa.us
191    1996-10-02  29.539  29.797  29.414  29.603  1235488        0    \aa.us
192    1996-10-03  29.603  29.667  29.256  29.414  1160580        0    \aa.us
193    1996-10-04  29.414  29.414  27.854  29.256  4378710        0    \aa.us
194    1996-10-07  28.747  28.747  28.274  28.457  2404305        0    \aa.us
...           ...     ...     ...     ...     ...      ...      ...       ...
79401  1996-11-29  22.381  22.487  22.216  22.440   182834        0  \zion.us
79402  1996-12-02  22.381  22.440  22.132  22.263   311231        0  \zion.us
79403  1996-12-03  22.263  22.263  22.103  22.103   174938        0  \zion.us
79404  1996-12-04  22.056  22.160  21.611  21.717   460822        0  \zion.us
79405  1996-12-05  21.639  21.774  21.553  21.717   253058        0  \zion.us

[14857 rows x 8 columns]

In [36]:
# DF that contains a summarizing statistics per stock
ticker = []
vol_ratio = []
mean_close = []
std_close = []
begin_prices = []
close_prices = []

for stockname in datamonth['Name'].unique():
    name = stockname
    ticker.append(name)
    
    datastock = datamonth.loc[(datamonth['Name']==stockname)]
    
    std = np.std(datastock['Close'])
    std_close.append(std)
    
    mean = np.mean(datastock['Close'])
    mean_close.append(mean)
    
    volratio = std/mean*100
    vol_ratio.append(volratio)
        
    price1 = datamonth.loc[(datamonth['Name']==stockname) &
                           (datamonth['Date']=='1996-10-01')]
    beginprice = np.float64(price1['Close'])
    begin_prices.append(beginprice)
    
    price2 = datamonth.loc[(datamonth['Name']==stockname) &
                           (datamonth['Date']=='1996-12-05')]
    closeprice = np.float64(price2['Close'])
    close_prices.append(closeprice)

In [37]:
# Let's make a function that creates a dataframe out of the summary characteristics.
def DFcreation(names, beginprices, closeprices, meanclose, stdclose, volratios):
    df = pd.DataFrame()
    df['Ticker'] = names
    df['OpeningPrice'] = beginprices
    df['ClosingPrice'] = closeprices
    df['MeanPrice'] = meanclose
    df['StdPrice'] = stdclose
    df['%_VolatilityRatio'] = volratios
    df['OpeningPrice'] = df['OpeningPrice']
    df['%_Gain/Lose'] = ((df['ClosingPrice']-df['OpeningPrice'])/df['OpeningPrice'])*100
    return df

In [39]:
df = DFcreation(ticker, begin_prices, close_prices, mean_close, std_close, vol_ratio)
df

,Ticker,OpeningPrice,ClosingPrice,MeanPrice,StdPrice,%_VolatilityRatio,%_Gain/Lose
0,\aa.us,29.3200,31.5500,29.542000,1.015419,3.437205,7.605730
1,\aaba.us,0.8100,0.8900,0.833404,0.061757,7.410225,9.876543
2,\aapl.us,0.7888,0.8003,0.790274,0.031744,4.016878,1.457911
3,\abc.us,5.0516,4.8472,4.672813,0.179104,3.832904,-4.046243
4,\abt.us,8.8732,9.5500,9.406032,0.379657,4.036317,7.627462
...,...,...,...,...,...,...,...
312,\xlnx.us,6.7169,9.0779,8.010579,0.833245,10.401803,35.150144
313,\xom.us,16.5180,18.3980,17.355617,0.527823,3.041224,11.381523
314,\xray.us,6.8181,7.0879,6.700970,0.201819,3.011786,3.957114
315,\xrx.us,88.3350,83.8070,81.588766,6.695566,8.206480,-5.125941
316,\zion.us,19.3780,21.7170,20.207936,0.839082,4.152238,12.070389

In [41]:
vol_month_mean = np.mean(df['%_VolatilityRatio'])
GL_month_mean = np.mean(df['%_Gain/Lose'])
print("The mean volatility ratio from 1996/10/01 until 1996/12/05:", round(vol_month_mean, 2),"%",
      "\n The mean Gain or Lose ratio from 1996/10/01 until 1996/12/05:", round(GL_month_mean, 2),"%",)

The mean volatility ratio from 1996/10/01 until 1996/12/05: 5.15 %
 The mean Gain or Lose ratio from 1996/10/01 until 1996/12/05: 7.75 %

# 1996: Week Before & Week After

In [64]:
dataweek = data1996.loc[(data1996['Date'].str.startswith('1996-10-29'))|
                        (data1996['Date'].str.startswith('1996-10-30'))|
                        (data1996['Date'].str.startswith('1996-10-31'))|
                        (data1996['Date'].str.startswith('1996-11-01'))|
                        (data1996['Date'].str.startswith('1996-11-02'))|
                        (data1996['Date'].str.startswith('1996-11-03'))|
                        (data1996['Date'].str.startswith('1996-11-04'))|
                        (data1996['Date'].str.startswith('1996-11-05'))|
                        (data1996['Date'].str.startswith('1996-11-06'))|
                        (data1996['Date'].str.startswith('1996-11-07'))|
                        (data1996['Date'].str.startswith('1996-11-08'))|
                        (data1996['Date'].str.startswith('1996-11-09'))|
                        (data1996['Date'].str.startswith('1996-11-10'))|
                        (data1996['Date'].str.startswith('1996-11-11'))|
                        (data1996['Date'].str.startswith('1996-11-12'))]
dataweek

             Date    Open    High     Low   Close   Volume  OpenInt      Name
210    1996-10-29  29.003  29.539  28.939  29.414  1108663        0    \aa.us
211    1996-10-30  29.454  29.454  28.791  29.045   593319        0    \aa.us
212    1996-10-31  28.981  29.045  28.316  28.728  1005403        0    \aa.us
213    1996-11-01  28.791  29.298  28.728  29.109   986819        0    \aa.us
214    1996-11-04  29.109  29.235  28.916  28.916   812100        0    \aa.us
...           ...     ...     ...     ...     ...      ...      ...       ...
79385  1996-11-06  19.967  19.967  19.743  19.889    71473        0  \zion.us
79386  1996-11-07  19.909  19.967  19.743  19.800    48619        0  \zion.us
79387  1996-11-08  19.859  19.859  19.636  19.636     7897        0  \zion.us
79388  1996-11-11  19.636  19.800  19.636  19.743   178678        0  \zion.us
79389  1996-11-12  19.800  19.800  19.636  19.636    65654        0  \zion.us

[3475 rows x 8 columns]

In [65]:
# DF that contains a summarizing statistics per stock
ticker = []
vol_ratio = []
mean_close = []
std_close = []
begin_prices = []
close_prices = []

for stockname in dataweek['Name'].unique():
    name = stockname
    ticker.append(name)
    
    datastock = dataweek.loc[(dataweek['Name']==stockname)]
    
    std = np.std(datastock['Close'])
    std_close.append(std)
    
    mean = np.mean(datastock['Close'])
    mean_close.append(mean)
    
    volratio = std/mean*100
    vol_ratio.append(volratio)
        
    price1 = dataweek.loc[(dataweek['Name']==stockname) &
                           (dataweek['Date']=='1996-10-29')]
    beginprice = np.float64(price1['Close'])
    begin_prices.append(beginprice)
    
    price2 = dataweek.loc[(dataweek['Name']==stockname) &
                           (dataweek['Date']=='1996-11-12')]
    closeprice = np.float64(price2['Close'])
    close_prices.append(closeprice)

In [75]:
dfweek = DFcreation(ticker, begin_prices, close_prices, mean_close, std_close, vol_ratio)
dfweek = dfweek[dfweek.astype(str)['%_Gain/Lose'] != '[]']
dfweek['%_Gain/Lose'] = dfweek['%_Gain/Lose'].astype('float')
dfweek['ClosingPrice'] = dfweek['ClosingPrice'].astype('float')
dfweek

,Ticker,OpeningPrice,ClosingPrice,MeanPrice,StdPrice,%_VolatilityRatio,%_Gain/Lose
0,\aa.us,29.4140,30.0270,29.268273,0.319124,1.090340,2.084042
1,\aaba.us,0.8500,0.8200,0.804545,0.033402,4.151678,-3.529412
2,\aapl.us,0.7439,0.8080,0.791982,0.038343,4.841395,8.616750
3,\abc.us,4.8062,4.5246,4.724809,0.103634,2.193401,-5.859099
4,\abt.us,9.1436,9.4817,9.312191,0.230843,2.478937,3.697668
...,...,...,...,...,...,...,...
312,\xlnx.us,7.0315,8.7043,7.801809,0.653093,8.371048,23.790087
313,\xom.us,17.3610,17.2390,17.220000,0.106759,0.619970,-0.702724
314,\xray.us,6.5870,6.5870,6.604518,0.106453,1.611821,0.000000
315,\xrx.us,75.5760,75.9860,75.402000,0.767731,1.018183,0.542500
316,\zion.us,19.8690,19.6360,19.821727,0.118358,0.597111,-1.172681

In [76]:
vol_week_mean = np.mean(dfweek['%_VolatilityRatio'])
GL_week_mean = np.mean(dfweek['%_Gain/Lose'])
print("The mean volatility ratio from 1996/10/29 until 1996/11/12:", round(vol_week_mean,2),"%",
      "\nThe mean Gain or Lose ratio from 1996/10/29 until 1996/11/12:", round(GL_week_mean,2),"%",)

The mean volatility ratio from 1996/10/29 until 1996/11/12: 2.67 %
The mean Gain or Lose ratio from 1996/10/29 until 1996/11/12: 4.28 %

# 1996: Day Before & Day After

In [84]:
dataday = data1996.loc[(data1996['Date'].str.startswith('1996-11-04'))|
                       (data1996['Date'].str.startswith('1996-11-05'))|
                       (data1996['Date'].str.startswith('1996-12-06'))]
dataday

             Date    Open    High     Low   Close   Volume  OpenInt      Name
214    1996-11-04  29.109  29.235  28.916  28.916   812100        0    \aa.us
215    1996-11-05  28.916  29.519  28.916  29.340  1078202        0    \aa.us
237    1996-12-06  30.877  31.003  30.755  30.819  1574006        0    \aa.us
397    1996-11-04   0.810   0.820   0.790   0.790  1015200        0  \aaba.us
398    1996-11-05   0.790   0.800   0.730   0.760  3040800        0  \aaba.us
...           ...     ...     ...     ...     ...      ...      ...       ...
79130  1996-11-05  75.786  75.986  74.971  75.384  1258884        0   \xrx.us
79152  1996-12-06  81.135  84.213  81.135  83.402   832973        0   \xrx.us
79383  1996-11-04  19.859  20.079  19.859  20.079    58589        0  \zion.us
79384  1996-11-05  19.985  20.079  19.743  19.800    99724        0  \zion.us
79406  1996-12-06  21.611  21.611  21.391  21.391   179923        0  \zion.us

[945 rows x 8 columns]

In [88]:
# DF that contains a summarizing statistics per stock
ticker = []
vol_ratio = []
mean_close = []
std_close = []
begin_prices = []
close_prices = []

for stockname in dataday['Name'].unique():
    name = stockname
    ticker.append(name)
    
    datastock = dataday.loc[(dataday['Name']==stockname)]
    
    std = np.std(datastock['Close'])
    std_close.append(std)
    
    mean = np.mean(datastock['Close'])
    mean_close.append(mean)
    
    volratio = std/mean*100
    vol_ratio.append(volratio)
        
    price1 = dataday.loc[(dataday['Name']==stockname) &
                           (dataday['Date']=='1996-11-04')]
    beginprice = np.float64(price1['Close'])
    begin_prices.append(beginprice)
    
    price2 = dataday.loc[(dataday['Name']==stockname) &
                           (dataday['Date']=='1996-11-05')]
    closeprice = np.float64(price2['Close'])
    close_prices.append(closeprice)

In [92]:
dfday = DFcreation(ticker, begin_prices, close_prices, mean_close, std_close, vol_ratio)
dfday = dfday[dfday.astype(str)['%_Gain/Lose'] != '[]']
dfday['%_Gain/Lose'] = dfday['%_Gain/Lose'].astype('float')
dfday['ClosingPrice'] = dfday['ClosingPrice'].astype('float')

In [95]:
vol_day_mean = np.mean(dfday['%_VolatilityRatio'])
GL_day_mean = np.mean(dfday['%_Gain/Lose'])
print("The mean volatility ratio from 1996/11/04 until 1996/11/05:", round(vol_day_mean,2),"%",
      "\nThe mean Gain or Lose ratio from 1996/11/04 until 1996/11/05:", round(GL_day_mean,2),"%",)

# No data for the stock exchange on 6th of november.

The mean volatility ratio from 1996/11/04 until 1996/11/05: 3.7 %
The mean Gain or Lose ratio from 1996/11/04 until 1996/11/05: 0.64 %

In [96]:
df1996 = pd.DataFrame()
df1996['Year'] = [1996,1996,1996]
df1996['Period'] = ['Day','Week','Month']
df1996['%_Vol_Mean'] = [vol_day_mean,vol_week_mean,vol_month_mean]
df1996['%_GainLose_Mean'] = [GL_day_mean,GL_week_mean,GL_month_mean]
df1996

   Year Period  %_Vol_Mean  %_GainLose_Mean
0  1996    Day    3.699168         0.638804
1  1996   Week    2.667823         4.280599
2  1996  Month    5.154842         7.750210

In [97]:
df1996.to_csv('df1996.csv', index=False)