## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here
sample_list_1 = random.sample(range(101), k=80)
print(sample_list_1)

[16, 33, 2, 36, 93, 44, 99, 67, 14, 24, 75, 13, 40, 97, 34, 28, 19, 98, 78, 42, 94, 35, 47, 26, 17, 45, 96, 72, 9, 12, 61, 63, 60, 38, 86, 84, 11, 91, 8, 43, 55, 83, 70, 58, 22, 48, 27, 56, 68, 89, 88, 41, 52, 15, 3, 100, 6, 31, 53, 23, 85, 82, 62, 18, 25, 7, 87, 37, 49, 80, 10, 59, 71, 92, 69, 76, 95, 20, 54, 32]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [13]:
# Your code here
set1 =set (sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [9]:
# Your code here
sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randrange(0,101))
    
sample_list_2

[63,
 34,
 0,
 11,
 96,
 89,
 73,
 52,
 77,
 38,
 14,
 98,
 17,
 85,
 6,
 13,
 48,
 75,
 27,
 46,
 80,
 26,
 59,
 9,
 40,
 44,
 17,
 15,
 30,
 33,
 36,
 5,
 31,
 64,
 92,
 41,
 87,
 14,
 19,
 66,
 90,
 25,
 4,
 79,
 70,
 44,
 34,
 47,
 21,
 28,
 10,
 96,
 79,
 24,
 41,
 87,
 77,
 0,
 10,
 69,
 86,
 93,
 65,
 60,
 49,
 84,
 59,
 36,
 18,
 49,
 15,
 36,
 10,
 42,
 79,
 93,
 89,
 34,
 49,
 53]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [14]:
# Your code here
set2 =set (sample_list_2)
len(set2)

#As per reference random.randrange() does not generate unique values
# converting sample_list_2 to set2 erased duplicates so different value

58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [16]:
# Your code here
set3= set1 -set2
print(set3)

{2, 3, 7, 8, 12, 16, 20, 22, 23, 32, 35, 37, 43, 45, 54, 55, 56, 58, 61, 62, 67, 68, 71, 72, 76, 78, 82, 83, 88, 91, 94, 95, 97, 99, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [17]:
# Your code here
set4= set2 -set1
print(set4)

{0, 64, 65, 66, 4, 5, 73, 77, 46, 79, 21, 90, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [20]:
# Your code here
set5 = set1.union(set2)
print(set5)

{0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [21]:
# Your code here
print('length of set1:',len(set1))
print('length of set2:',len(set2))
print('length of set3:',len(set3))
print('length of set4:',len(set4))
print('length of set5:',len(set5))

length of set1: 80
length of set2: 58
length of set3: 35
length of set4: 13
length of set5: 93

#### Create an empty set called `set6`.

In [22]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [23]:
# Your code here
set6 = set3.update(set5)
print(set6)

None

#### Check if `set1` and `set6` are equal.

In [24]:
# Your code here
set1 == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [25]:
# Your code here
set2.issubset(set1)

set3.issubset(set1)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [32]:
# Your code here

set3.union(set4).union(set5) == set1.union(set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [33]:
# Your code here
set1.pop()

# Using pop method I am able to remove a rnadome element but not first

2

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [34]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)

In [35]:
print(set1)

{3, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 47, 48, 52, 53, 54, 55, 56, 58, 60, 62, 63, 67, 68, 70, 72, 75, 76, 78, 80, 82, 83, 84, 85, 86, 87, 88, 92, 93, 94, 95, 96, 97, 98, 100}