# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [61]:
import numpy as np
import pandas as pd
from scipy import stats

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
salaries = pd.read_csv('C:\\Users\\sarah\\Documents\\IRONHACK\\dataV2-labs-master\\module-2\\Hypothesis-Testing\\Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [16]:
#salaries.info()
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [21]:
#salaries[(salaries['Salary or Hourly'] == 'Salary')].count()
#salaries[(salaries['Salary or Hourly'] == 'Hourly')].count()
salaries['Salary or Hourly'].value_counts()

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [23]:
pd.pivot_table(salaries, index='Department', values='Name', aggfunc='count')

                      Name
Department
ADMIN HEARNG            38
ANIMAL CONTRL           75
AVIATION              1856
BOARD OF ELECTION      111
BOARD OF ETHICS          8
BUDGET & MGMT           44
BUILDINGS              258
BUSINESS AFFAIRS       167
CITY CLERK              88
CITY COUNCIL           362
COPA                   123
CULTURAL AFFAIRS        74
DAIS                  1033
DISABILITIES            28
FAMILY & SUPPORT       656
FINANCE                544
FIRE                  4627
HEALTH                 467
HOUSING                 66
HOUSING & ECON DEV     154
HUMAN RELATIONS         17
HUMAN RESOURCES         75
INSPECTOR GEN           95
LAW                    398
LICENSE APPL COMM        1
MAYOR'S OFFICE         104
OEMC                  1737
POLICE               13848
POLICE BOARD             2
PROCUREMENT             84
PUBLIC LIBRARY        1088
PUBLIC SAFETY ADMIN    244
STREETS & SAN         2175
TRANSPORTN            1113
TREASURER               28
WATER MGMNT           1914

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [42]:
from scipy.stats import ttest_1samp

#H0: Hourly wage mean is equal to 30$/hr

ttest_1samp(list(salaries[(salaries['Hourly Rate'].isnull() == False)]['Hourly Rate']), 30)

#We can reject the null hypothesis and estimate that the mean hourly rate is significantly differant and above 30$/hr

Ttest_1sampResult(statistic=31.211500329216044, pvalue=3.825475847673794e-202)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [45]:
#H0: The mean salary in the police force is lower or equal to 86000$
ttest_1samp(list(salaries[(salaries['Annual Salary'].isnull() == False) & (salaries['Department'] == 'POLICE')]['Annual Salary']), 86000)
#We can reject the null hypothesis as pvalue/2 is < 0.05, and statistic is positive.

Ttest_1sampResult(statistic=18.51748561981861, pvalue=1.2239133904242963e-75)

Using the `crosstab` function, find the department that has the most hourly workers.

In [55]:
hour_wk = pd.pivot_table(salaries[salaries['Salary or Hourly'] == 'Hourly'], index='Department', values='Name', aggfunc='count')
hour_wk[hour_wk['Name'] == hour_wk['Name'].max()]

               Name
Department
STREETS & SAN  1846

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [59]:
#H0: Mean hourly rate in streets & san dpt is equal to or greater than 35$/hr

ttest_1samp(list(salaries[(salaries['Hourly Rate'].isnull() == False) & (salaries['Department'] == 'STREETS & SAN')]['Hourly Rate']), 35)

#We can reject the null hypothesis that mean salary is not equal to 35, but as statistic is positive, 
#it means that salaries are actually higher than 35$/hr. This is confirmed by the mean salary of this sample.

#np.mean(list(salaries[(salaries['Hourly Rate'].isnull() == False) & (salaries['Department'] == 'STREETS & SAN')]['Hourly Rate']))

Ttest_1sampResult(statistic=4.000138803968834, pvalue=6.580474443773579e-05)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [62]:
hour_wage = list(salaries[(salaries['Hourly Rate'].isnull() == False)]['Hourly Rate'])

mean = np.mean(hour_wage)
std = np.std(hour_wage)

stats.t.interval(0.95, df =(len(hour_wage)-1), loc=mean, scale=std)

(8.545000324962025, 60.62789911227801)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [64]:
hour_police = list(salaries[(salaries['Annual Salary'].isnull() == False) & (salaries['Department'] == 'POLICE')]['Annual Salary'])

mean = np.mean(hour_police)
std = np.std(hour_police)

stats.t.interval(0.95, df =(len(hour_police)-1), loc=mean, scale=std)

(53562.66776608572, 124105.57008113651)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: