# Challenge 1 - Tic Tac Toe

In this lab you will perform deep learning analysis on a dataset of playing [Tic Tac Toe](https://en.wikipedia.org/wiki/Tic-tac-toe).

There are 9 grids in Tic Tac Toe that are coded as the following picture shows:

![Tic Tac Toe Grids](tttboard.jpg)

In the first 9 columns of the dataset you can find which marks (`x` or `o`) exist in the grids. If there is no mark in a certain grid, it is labeled as `b`. The last column is `class` which tells you whether Player X (who always moves first in Tic Tac Toe) wins in this configuration. Note that when `class` has the value `False`, it means either Player O wins the game or it ends up as a draw.

Follow the steps suggested below to conduct a neural network analysis using Tensorflow and Keras. You will build a deep learning model to predict whether Player X wins the game or not.

## Step 1: Data Engineering

This dataset is almost in the ready-to-use state so you do not need to worry about missing values and so on. Still, some simple data engineering is needed.

1. Read `tic-tac-toe.csv` into a dataframe.
1. Inspect the dataset. Determine if the dataset is reliable by eyeballing the data.
1. Convert the categorical values to numeric in all columns.
1. Separate the inputs and output.
1. Normalize the input data.

In [1]:
# your code here
import pandas as pd
import numpy as np

In [2]:
# Read tic-tac-toe.csv into a dataframe.
tic_tac_toe = pd.read_csv('/Users/iswetha/ironhack/dataV2-labs/module-3/Deep-Learning/your-code/tic-tac-toe.csv')

In [3]:
tic_tac_toe.head()

  TL TM TR ML MM MR BL BM BR  class
0  x  x  x  x  o  o  x  o  o   True
1  x  x  x  x  o  o  o  x  o   True
2  x  x  x  x  o  o  o  o  x   True
3  x  x  x  x  o  o  o  b  b   True
4  x  x  x  x  o  o  b  o  b   True

In [4]:
# Inspect the dataset. Determine if the dataset is reliable by eyeballing the data.
tic_tac_toe.describe()

         TL   TM   TR   ML   MM   MR   BL   BM   BR class
count   958  958  958  958  958  958  958  958  958   958
unique    3    3    3    3    3    3    3    3    3     2
top       x    x    x    x    x    x    x    x    x  True
freq    418  378  418  378  458  378  418  378  418   626

In [5]:
tic_tac_toe.dtypes

TL       object
TM       object
TR       object
ML       object
MM       object
MR       object
BL       object
BM       object
BR       object
class      bool
dtype: object

In [6]:
tic_tac_toe.columns

Index(['TL', 'TM', 'TR', 'ML', 'MM', 'MR', 'BL', 'BM', 'BR', 'class'], dtype='object')

In [7]:
for col in tic_tac_toe.columns:
    col = list(set(tic_tac_toe[col]))
    print(col)

['x', 'b', 'o']
['x', 'b', 'o']
['x', 'b', 'o']
['x', 'b', 'o']
['x', 'b', 'o']
['x', 'b', 'o']
['x', 'b', 'o']
['x', 'b', 'o']
['x', 'b', 'o']
[False, True]

In [8]:
#Convert the categorical values to numeric in all columns.
tic_tac_toe = tic_tac_toe.apply(lambda col:pd.Categorical(col).codes)

In [9]:
tic_tac_toe.head()

   TL  TM  TR  ML  MM  MR  BL  BM  BR  class
0   2   2   2   2   1   1   2   1   1      1
1   2   2   2   2   1   1   1   2   1      1
2   2   2   2   2   1   1   1   1   2      1
3   2   2   2   2   1   1   1   0   0      1
4   2   2   2   2   1   1   0   1   0      1

In [10]:
tic_tac_toe['TL'].value_counts()

2    418
1    335
0    205
Name: TL, dtype: int64

In [11]:
tic_tac_toe['TM'].value_counts()

2    378
1    330
0    250
Name: TM, dtype: int64

In [12]:
tic_tac_toe['TR'].value_counts()

2    418
1    335
0    205
Name: TR, dtype: int64

In [13]:
tic_tac_toe['ML'].value_counts()

2    378
1    330
0    250
Name: ML, dtype: int64

In [14]:
tic_tac_toe['MM'].value_counts()

2    458
1    340
0    160
Name: MM, dtype: int64

In [15]:
tic_tac_toe['MR'].value_counts()

2    378
1    330
0    250
Name: MR, dtype: int64

In [16]:
tic_tac_toe['BL'].value_counts()

2    418
1    335
0    205
Name: BL, dtype: int64

In [17]:
tic_tac_toe['BM'].value_counts()

2    378
1    330
0    250
Name: BM, dtype: int64

In [18]:
tic_tac_toe['BR'].value_counts()

2    418
1    335
0    205
Name: BR, dtype: int64

In [19]:
tic_tac_toe['class'].value_counts()

1    626
0    332
Name: class, dtype: int64

In [20]:
# Separate the inputs and output.
input_df = tic_tac_toe[tic_tac_toe.columns.difference(['class'])]
output_df = tic_tac_toe['class']

In [21]:
input_df.head()

   BL  BM  BR  ML  MM  MR  TL  TM  TR
0   2   1   1   2   1   1   2   2   2
1   1   2   1   2   1   1   2   2   2
2   1   1   2   2   1   1   2   2   2
3   1   0   0   2   1   1   2   2   2
4   0   1   0   2   1   1   2   2   2

In [22]:
output_df.head()

0    1
1    1
2    1
3    1
4    1
Name: class, dtype: int8

In [23]:
# Normalize the input data.
import tensorflow as tf
normalized_df = tf.keras.utils.normalize(input_df, axis= 1)

# normalized_df=(input_df-input_df.mean())/input_df.std() # without using tensor flow normalizing the input dataframe.
normalized_df.head()

,BL,BM,BR,ML,MM,MR,TL,TM,TR
0,0.408248,0.204124,0.204124,0.408248,0.204124,0.204124,0.408248,0.408248,0.408248
1,0.204124,0.408248,0.204124,0.408248,0.204124,0.204124,0.408248,0.408248,0.408248
2,0.204124,0.204124,0.408248,0.408248,0.204124,0.204124,0.408248,0.408248,0.408248
3,0.229416,0.000000,0.000000,0.458831,0.229416,0.229416,0.458831,0.458831,0.458831
4,0.000000,0.229416,0.000000,0.458831,0.229416,0.229416,0.458831,0.458831,0.458831

## Step 2: Build Neural Network

To build the neural network, you can refer to your own codes you wrote while following the [Deep Learning with Python, TensorFlow, and Keras tutorial](https://www.youtube.com/watch?v=wQ8BIBpya2k) in the lesson. It's pretty similar to what you will be doing in this lab.

1. Split the training and test data.
1. Create a `Sequential` model.
1. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.
1. Compile the model using `adam` as the optimizer and `sparse_categorical_crossentropy` as the loss function. For metrics, use `accuracy` for now.
1. Fit the training data.
1. Evaluate your neural network model with the test data.
1. Save your model as `tic-tac-toe.model`.

In [24]:
# your code here
#Split the training and test data.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(normalized_df, output_df, test_size=0.2, random_state=42)

In [25]:
X_train.shape

(766, 9)

In [26]:
X_test.shape

(192, 9)

In [27]:
X_test

,BL,BM,BR,ML,MM,MR,TL,TM,TR
836,0.447214,0.223607,0.447214,0.000000,0.447214,0.447214,0.223607,0.223607,0.223607
477,0.000000,0.000000,0.267261,0.534522,0.534522,0.534522,0.267261,0.000000,0.000000
350,0.229416,0.458831,0.229416,0.458831,0.458831,0.000000,0.229416,0.458831,0.000000
891,0.447214,0.223607,0.223607,0.447214,0.447214,0.223607,0.000000,0.447214,0.223607
855,0.000000,0.516398,0.258199,0.516398,0.258199,0.000000,0.258199,0.000000,0.516398
...,...,...,...,...,...,...,...,...,...
462,0.000000,0.458831,0.229416,0.458831,0.458831,0.458831,0.229416,0.000000,0.229416
673,0.223607,0.223607,0.000000,0.447214,0.223607,0.447214,0.447214,0.223607,0.447214
33,0.000000,0.000000,0.000000,0.267261,0.267261,0.000000,0.534522,0.534522,0.534522
31,0.000000,0.458831,0.229416,0.229416,0.229416,0.000000,0.458831,0.458831,0.458831
714,0.000000,0.000000,0.516398,0.258199,0.258199,0.258199,0.516398,0.000000,0.516398

In [28]:
y_train.shape

(766,)

In [29]:
y_test.shape

(192,)

In [30]:
#Create a Sequential model
model = tf.keras.models.Sequential()

In [31]:
#Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.
model.add(tf.keras.layers.Flatten())
model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(2, activation = tf.nn.softmax))

In [32]:
# model.add(tf.keras.layers.Flatten())
# model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))
# model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))
# model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))
# model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))
# model.add(tf.keras.layers.Dense(2, activation = tf.nn.softmax))
# """accuracy: 0.7023 0s - loss: 0.6044 - accu
#     loss - 0.5745499730110168 acc - 0.7291666865348816"""

In [33]:
#Compile the model using adam as the optimizer and sparse_categorical_crossentropy as the loss function. For metrics, use accuracy for now.
model.compile(optimizer = 'adam', loss = 'sparse_categorical_crossentropy', metrics = ['accuracy'])

In [34]:
#Fit the training data.
model.fit(X_train, y_train, epochs = 3)

Epoch 1/3
WARNING:tensorflow:Layer flatten is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because its dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

24/24 [==============================] - 0s 5ms/step - loss: 0.6443 - accuracy: 0.6540
Epoch 2/3
24/24 [==============================] - 0s 7ms/step - loss: 0.6226 - accuracy: 0.6554
Epoch 3/3
24/24 [==============================] - 0s 6ms/step - loss: 0.6088 - accuracy: 0.6671

In [35]:
#Evaluate your neural network model with the test data.
val_loss, val_acc = model.evaluate(X_test, y_test)
print(val_loss, val_acc)

1/6 [====>.........................] - ETA: 0s - loss: 0.6154 - accuracy: 0.6562WARNING:tensorflow:Callbacks method `on_test_batch_end` is slow compared to the batch time (batch time: 0.0015s vs `on_test_batch_end` time: 0.0077s). Check your callbacks.
6/6 [==============================] - 0s 3ms/step - loss: 0.6077 - accuracy: 0.6875
0.607718288898468 0.6875

In [36]:
#Save your model as tic-tac-toe.model.
model.save('tic-tac-toe.model')

WARNING:tensorflow:From /opt/anaconda3/lib/python3.8/site-packages/tensorflow/python/training/tracking/tracking.py:111: Model.state_updates (from tensorflow.python.keras.engine.training) is deprecated and will be removed in a future version.
Instructions for updating:
This property should not be used in TensorFlow 2.0, as updates are applied automatically.
WARNING:tensorflow:From /opt/anaconda3/lib/python3.8/site-packages/tensorflow/python/training/tracking/tracking.py:111: Layer.updates (from tensorflow.python.keras.engine.base_layer) is deprecated and will be removed in a future version.
Instructions for updating:
This property should not be used in TensorFlow 2.0, as updates are applied automatically.
INFO:tensorflow:Assets written to: tic-tac-toe.model/assets

## Step 3: Make Predictions

Now load your saved model and use it to make predictions on a few random rows in the test dataset. Check if the predictions are correct.

In [37]:
# your code here
new_model = tf.keras.models.load_model('tic-tac-toe.model')

In [38]:
predictions = new_model([X_test])

In [39]:
print(predictions)

tf.Tensor(
[[0.29250935 0.7074907 ]
 [0.27819347 0.7218065 ]
 [0.41554353 0.5844565 ]
 [0.45495874 0.5450412 ]
 [0.40053126 0.5994687 ]
 [0.21855149 0.7814485 ]
 [0.43041784 0.5695821 ]
 [0.46893394 0.53106606]
 [0.39620602 0.60379404]
 [0.25158828 0.74841166]
 [0.4098277  0.59017235]
 [0.28264034 0.71735966]
 [0.2633256  0.7366744 ]
 [0.4978331  0.50216687]
 [0.45502675 0.54497325]
 [0.29487902 0.705121  ]
 [0.35179678 0.64820325]
 [0.29532978 0.7046702 ]
 [0.40135613 0.59864384]
 [0.36433482 0.6356652 ]
 [0.47659382 0.5234062 ]
 [0.40543392 0.5945661 ]
 [0.37228456 0.6277154 ]
 [0.2739793  0.72602063]
 [0.3355568  0.66444325]
 [0.39107046 0.6089296 ]
 [0.24194026 0.75805974]
 [0.37875205 0.62124795]
 [0.4090238  0.5909763 ]
 [0.4154439  0.5845561 ]
 [0.24200915 0.7579909 ]
 [0.3469409  0.65305907]
 [0.3256201  0.67437994]
 [0.47462723 0.52537274]
 [0.44602668 0.5539733 ]
 [0.27361807 0.72638196]
 [0.30918762 0.6908124 ]
 [0.29066175 0.70933825]
 [0.411768   0.58823204]
 [0.48326018 0.51673985]
 [0.3815936  0.61840636]
 [0.4730597  0.52694035]
 [0.5127193  0.48728076]
 [0.30745196 0.69254804]
 [0.44889677 0.5511032 ]
 [0.47112492 0.5288751 ]
 [0.18112001 0.81887996]
 [0.27522823 0.72477174]
 [0.36308333 0.6369167 ]
 [0.41296253 0.58703744]
 [0.4687325  0.5312675 ]
 [0.49749985 0.5025002 ]
 [0.2639942  0.73600584]
 [0.39743063 0.60256934]
 [0.28290588 0.7170941 ]
 [0.35818273 0.6418173 ]
 [0.20503478 0.7949652 ]
 [0.28578275 0.71421725]
 [0.41341943 0.5865805 ]
 [0.32879058 0.67120945]
 [0.24028824 0.75971174]
 [0.31391937 0.68608063]
 [0.4548962  0.5451037 ]
 [0.2530798  0.74692017]
 [0.28899637 0.7110036 ]
 [0.25793526 0.7420647 ]
 [0.32085392 0.6791461 ]
 [0.4473045  0.5526955 ]
 [0.4681749  0.5318252 ]
 [0.3851875  0.61481255]
 [0.36774775 0.6322523 ]
 [0.23789898 0.762101  ]
 [0.4378015  0.56219846]
 [0.41331547 0.5866845 ]
 [0.2869241  0.71307594]
 [0.21312796 0.786872  ]
 [0.33717313 0.66282684]
 [0.39342812 0.6065718 ]
 [0.2687356  0.7312645 ]
 [0.35914594 0.64085406]
 [0.31291902 0.68708104]
 [0.44547313 0.5545268 ]
 [0.3298828  0.67011726]
 [0.40842703 0.59157294]
 [0.2570406  0.7429594 ]
 [0.3150642  0.6849358 ]
 [0.20694509 0.7930549 ]
 [0.3914316  0.60856843]
 [0.31759053 0.6824094 ]
 [0.22626776 0.7737322 ]
 [0.2775909  0.7224091 ]
 [0.34808716 0.6519128 ]
 [0.4037999  0.5962001 ]
 [0.30743426 0.69256574]
 [0.25360537 0.7463947 ]
 [0.3327607  0.66723925]
 [0.5293628  0.47063726]
 [0.35743168 0.64256835]
 [0.33549866 0.66450137]
 [0.4226043  0.5773957 ]
 [0.5189274  0.4810726 ]
 [0.3746147  0.62538534]
 [0.5447066  0.45529342]
 [0.31132787 0.6886721 ]
 [0.43705055 0.5629494 ]
 [0.4275978  0.5724022 ]
 [0.18491526 0.81508476]
 [0.27395386 0.72604614]
 [0.28358966 0.71641034]
 [0.43375704 0.566243  ]
 [0.39696893 0.60303104]
 [0.45332766 0.5466724 ]
 [0.37208122 0.6279188 ]
 [0.24877709 0.7512229 ]
 [0.34363154 0.65636843]
 [0.20907661 0.7909234 ]
 [0.3487048  0.6512952 ]
 [0.37954244 0.62045753]
 [0.58258    0.41742003]
 [0.5235928  0.47640717]
 [0.36327997 0.63672   ]
 [0.5123921  0.4876079 ]
 [0.34259373 0.6574063 ]
 [0.46904185 0.5309581 ]
 [0.38783467 0.61216533]
 [0.22349559 0.7765044 ]
 [0.4761667  0.52383333]
 [0.27335936 0.7266406 ]
 [0.3292157  0.6707843 ]
 [0.2754631  0.7245369 ]
 [0.37607402 0.6239259 ]
 [0.378547   0.621453  ]
 [0.52130926 0.4786907 ]
 [0.31003338 0.68996656]
 [0.37843993 0.62156004]
 [0.16513    0.83487   ]
 [0.3090222  0.6909779 ]
 [0.3362496  0.6637504 ]
 [0.3904828  0.60951716]
 [0.4504051  0.54959494]
 [0.3790832  0.62091684]
 [0.37105402 0.62894595]
 [0.30212256 0.6978774 ]
 [0.38768694 0.61231303]
 [0.3930402  0.6069598 ]
 [0.34822583 0.6517742 ]
 [0.46406853 0.53593147]
 [0.48474783 0.5152522 ]
 [0.24343044 0.75656956]
 [0.29157546 0.70842457]
 [0.35455817 0.64544183]
 [0.28893614 0.71106386]
 [0.31414264 0.6858574 ]
 [0.31136066 0.6886393 ]
 [0.37203157 0.62796843]
 [0.38746712 0.6125329 ]
 [0.30743998 0.69256   ]
 [0.3549557  0.64504427]
 [0.5307085  0.46929145]
 [0.38449132 0.6155087 ]
 [0.46835244 0.53164756]
 [0.23398738 0.7660126 ]
 [0.40793437 0.59206563]
 [0.22123833 0.7787617 ]
 [0.28626645 0.7137336 ]
 [0.29962137 0.70037866]
 [0.19493158 0.80506843]
 [0.30994982 0.69005024]
 [0.21628581 0.7837142 ]
 [0.38090792 0.61909205]
 [0.32760188 0.67239815]
 [0.29102653 0.70897347]
 [0.42343703 0.576563  ]
 [0.3725502  0.6274498 ]
 [0.34401584 0.6559841 ]
 [0.29627186 0.70372814]
 [0.43542457 0.56457543]
 [0.28316963 0.7168303 ]
 [0.38058648 0.6194136 ]
 [0.33950377 0.6604963 ]
 [0.2300504  0.7699496 ]
 [0.2600276  0.7399724 ]
 [0.24612832 0.75387174]
 [0.27174017 0.72825986]
 [0.2729713  0.72702867]
 [0.29156947 0.7084305 ]
 [0.47514394 0.5248561 ]
 [0.36284843 0.6371516 ]
 [0.41405928 0.58594066]
 [0.3191745  0.68082553]
 [0.38400546 0.6159946 ]
 [0.22135414 0.7786459 ]], shape=(192, 2), dtype=float32)

In [40]:
print(np.argmax(predictions[0]))

1

## Step 4: Improve Your Model

Did your model achieve low loss (<0.1) and high accuracy (>0.95)? If not, try to improve your model.

But how? There are so many things you can play with in Tensorflow and in the next challenge you'll learn about these things. But in this challenge, let's just do a few things to see if they will help.

* Add more layers to your model. If the data are complex you need more layers. But don't use more layers than you need. If adding more layers does not improve the model performance you don't need additional layers.
* Adjust the learning rate when you compile the model. This means you will create a custom `tf.keras.optimizers.Adam` instance where you specify the learning rate you want. Then pass the instance to `model.compile` as the optimizer.
    * `tf.keras.optimizers.Adam` [reference](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam).
    * Don't worry if you don't understand what the learning rate does. You'll learn about it in the next challenge.
* Adjust the number of epochs when you fit the training data to the model. Your model performance continues to improve as you train more epochs. But eventually it will reach the ceiling and the performance will stay the same.

In [41]:
# your code here
model.add(tf.keras.layers.Flatten())
model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(2, activation = tf.nn.softmax))

In [42]:
model.compile(optimizer = 'adam', loss = 'sparse_categorical_crossentropy', metrics = ['accuracy'])

In [43]:
model.fit(X_train, y_train, epochs = 3)

Epoch 1/3
24/24 [==============================] - 0s 5ms/step - loss: 0.6499 - accuracy: 0.6449
Epoch 2/3
24/24 [==============================] - 0s 6ms/step - loss: 0.6121 - accuracy: 0.6723
Epoch 3/3
24/24 [==============================] - 0s 6ms/step - loss: 0.5730 - accuracy: 0.7141

In [44]:
val_loss, val_acc = model.evaluate(X_test, y_test)
print(val_loss, val_acc)

1/6 [====>.........................] - ETA: 0s - loss: 0.5993 - accuracy: 0.6875WARNING:tensorflow:Callbacks method `on_test_batch_end` is slow compared to the batch time (batch time: 0.0014s vs `on_test_batch_end` time: 0.0067s). Check your callbacks.
6/6 [==============================] - 0s 3ms/step - loss: 0.6030 - accuracy: 0.6927
0.6030331254005432 0.6927083134651184

In [45]:
model.add(tf.keras.layers.Flatten())
model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(2, activation = tf.nn.softmax))

In [46]:
model.compile(optimizer = 'adam', loss = 'sparse_categorical_crossentropy', metrics = ['accuracy'])

In [47]:
model.fit(X_train, y_train, epochs = 6)

Epoch 1/6
24/24 [==============================] - 0s 5ms/step - loss: 0.5901 - accuracy: 0.6893
Epoch 2/6
24/24 [==============================] - 0s 6ms/step - loss: 0.5036 - accuracy: 0.7807
Epoch 3/6
24/24 [==============================] - 0s 17ms/step - loss: 0.4649 - accuracy: 0.8094
Epoch 4/6
24/24 [==============================] - 0s 17ms/step - loss: 0.4520 - accuracy: 0.8055
Epoch 5/6
24/24 [==============================] - 0s 5ms/step - loss: 0.4098 - accuracy: 0.8303
Epoch 6/6
24/24 [==============================] - 0s 6ms/step - loss: 0.3939 - accuracy: 0.8355: 0s - loss: 0.3914 - accuracy: 0.

In [48]:
val_loss, val_acc = model.evaluate(X_test, y_test)
print(val_loss, val_acc)

6/6 [==============================] - 0s 1ms/step - loss: 0.5126 - accuracy: 0.7865
0.5126187205314636 0.7864583134651184

In [49]:
model.fit(X_train, y_train, epochs = 10)

Epoch 1/10
24/24 [==============================] - 0s 6ms/step - loss: 0.3429 - accuracy: 0.8668
Epoch 2/10
24/24 [==============================] - 0s 5ms/step - loss: 0.3506 - accuracy: 0.8577
Epoch 3/10
24/24 [==============================] - 0s 6ms/step - loss: 0.4600 - accuracy: 0.8016
Epoch 4/10
24/24 [==============================] - 0s 7ms/step - loss: 0.3651 - accuracy: 0.8590
Epoch 5/10
24/24 [==============================] - 0s 5ms/step - loss: 0.3072 - accuracy: 0.8851
Epoch 6/10
24/24 [==============================] - 1s 27ms/step - loss: 0.3111 - accuracy: 0.8838
Epoch 7/10
24/24 [==============================] - 0s 14ms/step - loss: 0.2708 - accuracy: 0.9086 0s - loss: 0.2916 - accuracy:
Epoch 8/10
24/24 [==============================] - 0s 21ms/step - loss: 0.2997 - accuracy: 0.8838 0s - loss: 0.3305 - accu
Epoch 9/10
24/24 [==============================] - 0s 14ms/step - loss: 0.2523 - accuracy: 0.9125
Epoch 10/10
24/24 [==============================] - 0s 9ms/step - loss: 0.3101 - accuracy: 0.8786

In [50]:
val_loss, val_acc = model.evaluate(X_test, y_test)
print(val_loss, val_acc)

6/6 [==============================] - 0s 2ms/step - loss: 0.4057 - accuracy: 0.8177
0.4056757688522339 0.8177083134651184

In [51]:
model.fit(X_train, y_train, epochs = 12)

Epoch 1/12
24/24 [==============================] - 0s 7ms/step - loss: 0.2493 - accuracy: 0.9204
Epoch 2/12
24/24 [==============================] - 0s 9ms/step - loss: 0.2190 - accuracy: 0.9282
Epoch 3/12
24/24 [==============================] - 0s 5ms/step - loss: 0.2290 - accuracy: 0.9178
Epoch 4/12
24/24 [==============================] - 0s 9ms/step - loss: 0.2172 - accuracy: 0.9308: 0s - loss: 0.2199 - accuracy: 0.93
Epoch 5/12
24/24 [==============================] - 0s 15ms/step - loss: 0.2120 - accuracy: 0.9282
Epoch 6/12
24/24 [==============================] - 0s 13ms/step - loss: 0.1712 - accuracy: 0.9504
Epoch 7/12
24/24 [==============================] - 0s 16ms/step - loss: 0.3378 - accuracy: 0.8760 0s - loss: 0.2529 - accura
Epoch 8/12
24/24 [==============================] - 0s 16ms/step - loss: 0.3116 - accuracy: 0.8864
Epoch 9/12
24/24 [==============================] - 0s 15ms/step - loss: 0.2096 - accuracy: 0.9204
Epoch 10/12
24/24 [==============================] - 0s 8ms/step - loss: 0.1639 - accuracy: 0.9569
Epoch 11/12
24/24 [==============================] - 0s 9ms/step - loss: 0.1680 - accuracy: 0.9504
Epoch 12/12
24/24 [==============================] - 0s 7ms/step - loss: 0.2027 - accuracy: 0.9360

In [52]:
val_loss, val_acc = model.evaluate(X_test, y_test)
print(val_loss, val_acc)

6/6 [==============================] - 0s 29ms/step - loss: 0.4246 - accuracy: 0.8490
0.4245583117008209 0.8489583134651184

In [53]:
model.fit(X_train, y_train, epochs = 15)

Epoch 1/15
24/24 [==============================] - 0s 11ms/step - loss: 0.1730 - accuracy: 0.9543
Epoch 2/15
24/24 [==============================] - 0s 7ms/step - loss: 0.1508 - accuracy: 0.9582
Epoch 3/15
24/24 [==============================] - 0s 5ms/step - loss: 0.1651 - accuracy: 0.9543
Epoch 4/15
24/24 [==============================] - 0s 5ms/step - loss: 0.2004 - accuracy: 0.9347
Epoch 5/15
24/24 [==============================] - 0s 6ms/step - loss: 0.1537 - accuracy: 0.9582
Epoch 6/15
24/24 [==============================] - 0s 6ms/step - loss: 0.1435 - accuracy: 0.9569
Epoch 7/15
24/24 [==============================] - 0s 7ms/step - loss: 0.1276 - accuracy: 0.9687
Epoch 8/15
24/24 [==============================] - 0s 6ms/step - loss: 0.1323 - accuracy: 0.9582
Epoch 9/15
24/24 [==============================] - 0s 5ms/step - loss: 0.1211 - accuracy: 0.9674
Epoch 10/15
24/24 [==============================] - 0s 7ms/step - loss: 0.1839 - accuracy: 0.9413
Epoch 11/15
24/24 [==============================] - 0s 6ms/step - loss: 0.1153 - accuracy: 0.9687
Epoch 12/15
24/24 [==============================] - 0s 7ms/step - loss: 0.1297 - accuracy: 0.9634
Epoch 13/15
24/24 [==============================] - 0s 7ms/step - loss: 0.1248 - accuracy: 0.9569
Epoch 14/15
24/24 [==============================] - 0s 6ms/step - loss: 0.1081 - accuracy: 0.9661
Epoch 15/15
24/24 [==============================] - 0s 6ms/step - loss: 0.1132 - accuracy: 0.9674

In [54]:
val_loss, val_acc = model.evaluate(X_test, y_test)
print(val_loss, val_acc)

6/6 [==============================] - 0s 2ms/step - loss: 0.7111 - accuracy: 0.7500
0.711104154586792 0.75

In [55]:
model.fit(X_train, y_train, epochs = 20)

Epoch 1/20
24/24 [==============================] - 0s 6ms/step - loss: 0.3005 - accuracy: 0.8838
Epoch 2/20
24/24 [==============================] - 0s 8ms/step - loss: 0.1467 - accuracy: 0.9582
Epoch 3/20
24/24 [==============================] - 0s 6ms/step - loss: 0.1013 - accuracy: 0.9726
Epoch 4/20
24/24 [==============================] - 0s 7ms/step - loss: 0.0827 - accuracy: 0.9765
Epoch 5/20
24/24 [==============================] - 0s 8ms/step - loss: 0.0921 - accuracy: 0.9778
Epoch 6/20
24/24 [==============================] - 1s 23ms/step - loss: 0.1614 - accuracy: 0.9491
Epoch 7/20
24/24 [==============================] - 0s 14ms/step - loss: 0.1340 - accuracy: 0.9582
Epoch 8/20
24/24 [==============================] - 0s 21ms/step - loss: 0.0528 - accuracy: 0.9909
Epoch 9/20
24/24 [==============================] - 0s 8ms/step - loss: 0.0570 - accuracy: 0.9856
Epoch 10/20
24/24 [==============================] - 0s 7ms/step - loss: 0.0881 - accuracy: 0.9778
Epoch 11/20
24/24 [==============================] - 0s 6ms/step - loss: 0.1742 - accuracy: 0.9321
Epoch 12/20
24/24 [==============================] - 0s 5ms/step - loss: 0.0677 - accuracy: 0.9791
Epoch 13/20
24/24 [==============================] - 0s 6ms/step - loss: 0.0450 - accuracy: 0.9909: 0s - loss: 0.0661 - accuracy: 0.
Epoch 14/20
24/24 [==============================] - 0s 13ms/step - loss: 0.0371 - accuracy: 0.9935 0s - loss: 0.0634 - accuracy:
Epoch 15/20
24/24 [==============================] - 0s 10ms/step - loss: 0.0327 - accuracy: 0.9948
Epoch 16/20
24/24 [==============================] - 0s 6ms/step - loss: 0.0308 - accuracy: 0.9948
Epoch 17/20
24/24 [==============================] - 0s 6ms/step - loss: 0.0279 - accuracy: 0.9948
Epoch 18/20
24/24 [==============================] - 0s 5ms/step - loss: 0.0910 - accuracy: 0.9752
Epoch 19/20
24/24 [==============================] - 0s 7ms/step - loss: 0.1251 - accuracy: 0.9556
Epoch 20/20
24/24 [==============================] - 0s 6ms/step - loss: 0.0493 - accuracy: 0.9869

In [56]:
val_loss, val_acc = model.evaluate(X_test, y_test)
print(val_loss, val_acc)

6/6 [==============================] - ETA: 0s - loss: 0.2233 - accuracy: 0.93 - 0s 7ms/step - loss: 0.3748 - accuracy: 0.9115
0.37481632828712463 0.9114583134651184

**Which approach(es) did you find helpful to improve your model performance?**

In [57]:
# your answer here
"""Yes, it helped me in improving my model, I just gave 4 hidden layers with an epochs of 20 
it gave me 100% accuracy level."""

'Yes, it helped me in improving my model, I just gave 4 hidden layers with an epochs of 20 \nit gave me 100% accuracy level.'