# Introduction to NumPy


#### 1. Import NumPy under the name np.

In [2]:
import numpy as np

#### 2. Print your NumPy version.

In [3]:
import numpy as np
print(np.__version__)

1.18.1

#### 3. Generate a 2x3x5 3-dimensional array with random values. Assign the array to variable *a*.
**Challenge**: there are at least three easy ways that use numpy to generate random arrays. How many ways can you find?

In [5]:
a = np.random.random([2, 3, 5])
#print(a)

[[[0.55246586 0.18121942 0.45674392 0.91296383 0.67511919]
  [0.98717336 0.43317939 0.15583991 0.49128624 0.17494274]
  [0.89604565 0.66487433 0.55655871 0.13427489 0.13033207]]

 [[0.43336821 0.19643365 0.38920153 0.43258308 0.57957371]
  [0.39108771 0.67493921 0.2847163  0.08093828 0.61924716]
  [0.92670382 0.96394611 0.90738931 0.49697626 0.77915769]]]

In [140]:
a_try=np.empty((2,3,5))
print(a_try)

[[[1.55246586 1.18121942 1.45674392 1.91296383 1.67511919]
  [1.98717336 1.43317939 1.15583991 1.49128624 1.17494274]
  [1.89604565 1.66487433 1.55655871 1.13427489 1.13033207]]

 [[1.43336821 1.19643365 1.38920153 1.43258308 1.57957371]
  [1.39108771 1.67493921 1.2847163  1.08093828 1.61924716]
  [1.92670382 1.96394611 1.90738931 1.49697626 1.77915769]]]

#### 4. Print *a*.

In [9]:
print(a)

[[[0.55246586 0.18121942 0.45674392 0.91296383 0.67511919]
  [0.98717336 0.43317939 0.15583991 0.49128624 0.17494274]
  [0.89604565 0.66487433 0.55655871 0.13427489 0.13033207]]

 [[0.43336821 0.19643365 0.38920153 0.43258308 0.57957371]
  [0.39108771 0.67493921 0.2847163  0.08093828 0.61924716]
  [0.92670382 0.96394611 0.90738931 0.49697626 0.77915769]]]

#### 5. Create a 5x2x3 3-dimensional array with all values equaling 1. Assign the array to variable *b*.

In [4]:
b = np.ones([5, 2, 3])
#print(b)

#### 6. Print *b*.

In [16]:
print(b)

[[[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]]

#### 7. Do *a* and *b* have the same size? How do you prove that in Python code?

In [9]:
a = np.random.random([2, 3, 5])
b = np.ones([5, 2, 3])

len(a) != len(b)
len(a[0]) != len(b[0])

total_size_a = len(a)* len(a[0])
total_size_b = len(b)* len(b[0])

#print(len(a))
#print(len(b))

#print(len(a[0]))
#print(len(b[0]))

#No they don't have the same size. I prove this by checking the length of both array's. (But here you look at the number of groups. )
#Second thing I did was looking if the rows have the same numbers.

2
5
3
2

#### 8. Are you able to add *a* and *b*? Why or why not?

In [28]:
sum_a_b = np.add(a, b)
print(sum_a_b)

#I can't add a and b togheter because the shapes are different. I receive a ValueError.

ValueError: operands could not be broadcast together with shapes (2,3,5) (5,2,3)

#### 9. Transpose *b* so that it has the same structure of *a* (i.e. become a 2x3x5 array). Assign the transposed array to variable *c*.

In [54]:
c = np.transpose(b)

#print(c)

[[[1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]]

 [[1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]]

 [[1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]]]

#### 10. Try to add *a* and *c*. Now it should work. Assign the sum to variable *d*. But why does it work now?

In [30]:
d = np.add(a, c)
print(d)

[[[1.55246586 1.18121942 1.45674392 1.91296383 1.67511919]
  [1.98717336 1.43317939 1.15583991 1.49128624 1.17494274]
  [1.89604565 1.66487433 1.55655871 1.13427489 1.13033207]]

 [[1.43336821 1.19643365 1.38920153 1.43258308 1.57957371]
  [1.39108771 1.67493921 1.2847163  1.08093828 1.61924716]
  [1.92670382 1.96394611 1.90738931 1.49697626 1.77915769]]]

#### 11. Print *a* and *d*. Notice the difference and relation of the two array in terms of the values? Explain.

In [33]:
print(a)
print("*")
print(d)

#The difference between 'a' and 'd' is that the values of 'd' are 1 higher or you could say that the values 'a' are one less than 'd'. 
#'d' are the same values as 'a' but is they are exactly 1 higher.

[[[0.55246586 0.18121942 0.45674392 0.91296383 0.67511919]
  [0.98717336 0.43317939 0.15583991 0.49128624 0.17494274]
  [0.89604565 0.66487433 0.55655871 0.13427489 0.13033207]]

 [[0.43336821 0.19643365 0.38920153 0.43258308 0.57957371]
  [0.39108771 0.67493921 0.2847163  0.08093828 0.61924716]
  [0.92670382 0.96394611 0.90738931 0.49697626 0.77915769]]]
*
[[[1.55246586 1.18121942 1.45674392 1.91296383 1.67511919]
  [1.98717336 1.43317939 1.15583991 1.49128624 1.17494274]
  [1.89604565 1.66487433 1.55655871 1.13427489 1.13033207]]

 [[1.43336821 1.19643365 1.38920153 1.43258308 1.57957371]
  [1.39108771 1.67493921 1.2847163  1.08093828 1.61924716]
  [1.92670382 1.96394611 1.90738931 1.49697626 1.77915769]]]

#### 12. Multiply *a* and *c*. Assign the result to *e*.

In [39]:
e = np.multiply(a, c)
#print(e)

[[[0.55246586 0.18121942 0.45674392 0.91296383 0.67511919]
  [0.98717336 0.43317939 0.15583991 0.49128624 0.17494274]
  [0.89604565 0.66487433 0.55655871 0.13427489 0.13033207]]

 [[0.43336821 0.19643365 0.38920153 0.43258308 0.57957371]
  [0.39108771 0.67493921 0.2847163  0.08093828 0.61924716]
  [0.92670382 0.96394611 0.90738931 0.49697626 0.77915769]]]

#### 13. Does *e* equal to *a*? Why or why not?

In [ ]:
# e is equal to a for as long as the value of all elements in the array c remain unchanged.

#### 14. Identify the max, min, and mean values in *d*. Assign those values to variables *d_max*, *d_min* and *d_mean*.

In [48]:
d_max = d.max()
d_min = d.min()
d_mean = d.mean()

#print(d_max)
#print("*")
#print(d)
#print("*")
#print(d_min)
#print("*")
#print(d_mean)

#### 15. Now we want to label the values in *d*. First create an empty array *f* with the same shape (i.e. 2x3x5) as *d* using `np.empty`.

In [51]:
f = np.empty([2, 3, 5])

#### 16. Populate the values in *f*. 

For each value in *d*, if it's larger than *d_min* but smaller than *d_mean*, assign 25 to the corresponding value in *f*. If a value in *d* is larger than *d_mean* but smaller than *d_max*, assign 75 to the corresponding value in *f*. If a value equals to *d_mean*, assign 50 to the corresponding value in *f*. Assign 0 to the corresponding value(s) in *f* for *d_min* in *d*. Assign 100 to the corresponding value(s) in *f* for *d_max* in *d*. In the end, f should have only the following values: 0, 25, 50, 75, and 100.

**Note**: you don't have to use Numpy in this question.

In [115]:
#print(d)
try_out = d
d_max = d.max()
d_min = d.min()
d_mean = d.mean()

def populate (x):
    main_list = []
    for d1 in x:”
        for d2 in d1:
            sub_list = []
            main_list.append(sub_list)
            for d3 in d2:
                if d3 == d_min: 
                    num = 0
                    sub_list.append(num)
                elif d3 == d_max: 
                    num = 100
                    sub_list.append(num)
                elif d3 > d_min and d3 < d_mean:
                    num = 25
                    sub_list.append(num)
                elif d3 > d_mean and d3 < d_max: 
                    num = 75
                    sub_list.append(num)
                elif d3 == d_mean: 
                    num = 50
                    sub_list.append(num)
                    
    arr_one = np.array(main_list)
    return(arr_one)
        
        
#print(populate(d))
#print("*")
#print(d)

#@Jan is there a more easy way of complete this challenge?  --> I think I made it to long in code.

[[ 75  25  25  75  75]
 [100  25  25  25  25]
 [ 75  75  75  25  25]
 [ 25  25  25  25  75]
 [ 25  75  25   0  75]
 [ 75  75  75  25  75]]
*
[[[1.55246586 1.18121942 1.45674392 1.91296383 1.67511919]
  [1.98717336 1.43317939 1.15583991 1.49128624 1.17494274]
  [1.89604565 1.66487433 1.55655871 1.13427489 1.13033207]]

 [[1.43336821 1.19643365 1.38920153 1.43258308 1.57957371]
  [1.39108771 1.67493921 1.2847163  1.08093828 1.61924716]
  [1.92670382 1.96394611 1.90738931 1.49697626 1.77915769]]]

#### 17. Print *d* and *f*. Do you have your expected *f*?
For instance, if your *d* is:
```python
[[[1.85836099, 1.67064465, 1.62576044, 1.40243961, 1.88454931],
[1.75354326, 1.69403643, 1.36729252, 1.61415071, 1.12104981],
[1.72201435, 1.1862918 , 1.87078449, 1.7726778 , 1.88180042]],
[[1.44747908, 1.31673383, 1.02000951, 1.52218947, 1.97066381],
[1.79129243, 1.74983003, 1.96028037, 1.85166831, 1.65450881],
[1.18068344, 1.9587381 , 1.00656599, 1.93402165, 1.73514584]]]
```
Your *f* should be:
```python
[[[ 75.,  75.,  75.,  25.,  75.],
[ 75.,  75.,  25.,  25.,  25.],
[ 75.,  25.,  75.,  75.,  75.]],
[[ 25.,  25.,  25.,  25., 100.],
[ 75.,  75.,  75.,  75.,  75.],
[ 25.,  75.,   0.,  75.,  75.]]]
```

In [106]:
print(d)
print("*")
print(populate(d))

[[[1.55246586 1.18121942 1.45674392 1.91296383 1.67511919]
  [1.98717336 1.43317939 1.15583991 1.49128624 1.17494274]
  [1.89604565 1.66487433 1.55655871 1.13427489 1.13033207]]

 [[1.43336821 1.19643365 1.38920153 1.43258308 1.57957371]
  [1.39108771 1.67493921 1.2847163  1.08093828 1.61924716]
  [1.92670382 1.96394611 1.90738931 1.49697626 1.77915769]]]
*
[[75, 25, 25, 75, 75], [100, 25, 25, 25, 25], [75, 75, 75, 25, 25], [25, 25, 25, 25, 75], [25, 75, 25, 0, 75], [75, 75, 75, 25, 75]]

#### 18. Bonus question: instead of using numbers (i.e. 0, 25, 50, 75, and 100), use string values  ("A", "B", "C", "D", and "E") to label the array elements. For the example above, the expected result is:

```python
[[[ 'D',  'D',  'D',  'B',  'D'],
[ 'D',  'D',  'B',  'B',  'B'],
[ 'D',  'B',  'D',  'D',  'D']],
[[ 'B',  'B',  'B',  'B',  'E'],
[ 'D',  'D',  'D',  'D',  'D'],
[ 'B',  'D',   'A',  'D', 'D']]]
```
**Note**: you don't have to use Numpy in this question.

In [112]:

def bonus (x):
    main_list = []
    for d1 in x:
        for d2 in d1:
            sub_list = []
            main_list.append(sub_list)
            for d3 in d2:
                if d3 == d_min: 
                    num = "A"
                    sub_list.append(num)
                elif d3 == d_max: 
                    num = "E"
                    sub_list.append(num)
                elif d3 > d_min and d3 < d_mean:
                    num = "B"
                    sub_list.append(num)
                elif d3 > d_mean and d3 < d_max: 
                    num = "D"
                    sub_list.append(num)
                elif d3 == d_mean: 
                    num = "C"
                    sub_list.append(num)
    
    bertje = np.array(main_list)
    return(bertje)

print(bonus(d))

[['D' 'B' 'B' 'D' 'D']
 ['E' 'B' 'B' 'B' 'B']
 ['D' 'D' 'D' 'B' 'B']
 ['B' 'B' 'B' 'B' 'D']
 ['B' 'D' 'B' 'A' 'D']
 ['D' 'D' 'D' 'B' 'D']]