# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries

import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
# your code here

data = pd.read_csv('../data/Admission_Predict.csv', sep=',')

data

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [3]:
# your code here

data.columns = data.columns.str.replace(' ', '')

Let's evaluate the dataset by looking at the `head` function.

In [4]:
# your code here

data.head()

,SerialNo.,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [5]:
# your code here

data.isnull().sum()

SerialNo.           0
GREScore            0
TOEFLScore          0
UniversityRating    0
SOP                 0
LOR                 0
CGPA                0
Research            0
ChanceofAdmit       0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [6]:
# your code here

data['SerialIndex'] = data['SerialNo.']
data.set_index(['SerialIndex'], inplace=True)

data

,SerialNo.,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit
SerialIndex,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,324,107,4,4.0,4.5,8.87,1,0.76
3,3,316,104,3,3.0,3.5,8.00,1,0.72
4,4,322,110,3,3.5,2.5,8.67,1,0.80
5,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
396,396,324,110,3,3.5,3.5,9.04,1,0.82
397,397,325,107,3,3.0,3.5,9.11,1,0.84
398,398,330,116,4,5.0,4.5,9.45,1,0.91
399,399,312,103,3,3.5,4.0,8.78,0,0.67
400,400,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [7]:
# your code here

result = list(zip(list(data['GREScore']), list(data['CGPA'])))
result2 = pd.unique(result)

result2

array([(337, 9.65), (324, 8.87), (316, 8.0), (322, 8.67), (314, 8.21),
       (330, 9.34), (321, 8.2), (308, 7.9), (302, 8.0), (323, 8.6),
       (325, 8.4), (327, 9.0), (328, 9.1), (307, 8.0), (311, 8.2),
       (314, 8.3), (317, 8.7), (319, 8.0), (318, 8.8), (303, 8.5),
       (312, 7.9), (328, 9.5), (334, 9.7), (336, 9.8), (340, 9.6),
       (322, 8.8), (298, 7.5), (295, 7.2), (310, 7.3), (300, 8.1),
       (327, 8.3), (338, 9.4), (331, 9.8), (320, 9.2), (299, 8.4),
       (300, 7.8), (304, 7.5), (307, 7.7), (308, 8.0), (316, 8.2),
       (313, 8.5), (332, 9.1), (326, 9.4), (322, 9.1), (329, 9.3),
       (339, 9.7), (321, 8.85), (327, 8.4), (313, 8.3), (334, 8.0),
       (324, 8.1), (322, 8.0), (320, 7.7), (316, 7.4), (298, 7.6),
       (300, 6.8), (311, 8.3), (309, 8.1), (307, 8.2), (304, 8.2),
       (315, 8.5), (325, 8.7), (325, 8.92), (327, 9.02), (316, 8.64),
       (318, 9.22), (328, 9.16), (332, 9.64), (336, 9.76), (321, 9.45),
       (314, 9.04), (314, 8.9), (329, 8.56), (327, 8.72), (301, 8.22),
       (296, 7.54), (294, 7.36), (312, 8.02), (340, 9.5), (320, 9.22),
       (322, 9.36), (340, 9.45), (319, 8.66), (315, 8.42), (317, 8.28),
       (314, 8.14), (316, 8.76), (318, 7.92), (299, 7.66), (298, 8.03),
       (301, 7.88), (303, 7.66), (304, 7.84), (306, 8.0), (331, 8.96),
       (332, 9.24), (323, 8.88), (322, 8.46), (312, 8.12), (314, 8.25),
       (317, 8.47), (326, 9.05), (316, 8.78), (329, 9.18), (338, 9.46),
       (331, 9.38), (304, 8.64), (305, 8.48), (321, 8.68), (301, 8.34),
       (320, 8.56), (311, 8.45), (310, 9.04), (299, 8.62), (290, 7.46),
       (296, 7.28), (327, 8.84), (335, 9.56), (334, 9.48), (310, 8.36),
       (308, 8.22), (301, 8.47), (300, 8.66), (323, 9.32), (319, 8.71),
       (326, 9.1), (333, 9.35), (339, 9.76), (303, 8.65), (309, 8.56),
       (323, 8.78), (333, 9.28), (314, 8.77), (312, 8.45), (316, 8.16),
       (326, 9.08), (318, 9.12), (329, 9.15), (332, 9.36), (331, 9.44),
       (340, 9.92), (325, 8.96), (320, 8.64), (315, 8.48), (326, 9.11),
       (339, 9.8), (311, 8.26), (334, 9.43), (332, 9.28), (321, 9.06),
       (324, 8.75), (326, 8.89), (312, 8.69), (315, 8.34), (309, 8.26),
       (306, 8.14), (297, 7.9), (315, 7.86), (298, 7.46), (318, 8.5),
       (317, 8.56), (329, 9.01), (322, 8.97), (302, 8.33), (313, 8.27),
       (293, 7.8), (311, 7.98), (312, 8.04), (334, 9.07), (322, 9.13),
       (323, 9.23), (321, 8.97), (320, 8.87), (329, 9.16), (319, 9.04),
       (309, 8.12), (307, 8.27), (300, 8.16), (305, 8.42), (299, 7.88),
       (314, 8.8), (316, 8.32), (327, 9.11), (317, 8.68), (335, 9.44),
       (331, 9.36), (324, 9.08), (324, 9.16), (323, 8.98), (322, 8.94),
       (336, 9.53), (307, 8.52), (306, 8.26), (310, 8.33), (311, 8.43),
       (313, 8.69), (317, 8.54), (315, 8.46), (340, 9.91), (334, 9.87),
       (298, 8.54), (295, 7.65), (315, 7.89), (310, 8.02), (305, 8.16),
       (301, 8.12), (325, 9.06), (328, 9.14), (338, 9.66), (333, 9.78),
       (331, 9.42), (330, 9.36), (322, 9.26), (321, 9.13), (324, 8.97),
       (312, 8.42), (313, 8.75), (316, 8.56), (324, 8.79), (308, 8.45),
       (305, 8.23), (296, 8.03), (306, 8.45), (312, 8.53), (318, 8.67),
       (324, 9.01), (313, 8.65), (319, 8.33), (312, 8.27), (304, 8.07),
       (330, 9.31), (326, 9.23), (325, 9.17), (329, 9.19), (310, 8.37),
       (299, 7.89), (296, 7.68), (317, 8.15), (324, 8.76), (325, 9.04),
       (314, 8.56), (328, 9.02), (316, 8.73), (311, 8.48), (321, 8.83),
       (320, 8.57), (316, 9.0), (318, 8.54), (335, 9.68), (321, 9.12),
       (307, 8.37), (324, 8.64), (326, 8.76), (331, 9.34), (327, 9.13),
       (312, 8.09), (308, 8.36), (325, 8.76), (313, 8.68), (314, 8.17),
       (327, 9.14), (308, 8.34), (306, 8.22), (299, 7.86), (294, 7.64),
       (312, 8.01), (315, 7.95), (322, 8.96), (329, 9.45), (320, 8.62),
       (308, 8.49), (304, 8.73), (311, 8.64), (317, 9.11), (312, 8.79),
       (321, 8.9), (340, 9.66), (331, 9.26), (336, 9.19), (314, 9.02),
       (313, 9.0), (307, 7.65), (300, 7.87), (302, 7.97), (312, 8.18),
       (317, 8.57), (310, 8.67), (320, 9.11), (330, 9.24), (305, 8.65),
       (309, 8.0), (319, 8.76), (322, 8.45), (323, 8.55), (313, 8.43),
       (321, 8.8), (323, 9.1), (325, 9.0), (308, 8.6), (320, 8.74),
       (328, 9.18), (311, 9.0), (301, 8.04), (305, 8.13), (308, 8.07),
       (298, 7.86), (300, 8.01), (324, 8.8), (327, 8.69), (317, 8.5),
       (323, 8.44), (314, 8.27), (305, 8.18), (315, 8.33), (326, 9.14),
       (299, 8.02), (295, 7.86), (324, 8.77), (297, 7.89), (327, 8.66),
       (311, 8.12), (308, 8.21), (319, 8.54), (312, 8.65), (325, 9.11),
       (319, 8.79), (332, 9.47), (323, 8.74), (324, 8.66), (312, 8.46),
       (308, 8.24), (295, 7.34), (316, 7.43), (304, 7.64), (299, 7.34),
       (302, 7.25), (313, 8.04), (318, 8.27), (325, 8.67), (303, 8.06),
       (300, 8.17), (297, 7.67), (317, 8.12), (327, 8.77), (301, 7.89),
       (314, 7.64), (321, 8.44), (322, 8.64), (334, 9.54), (338, 9.23),
       (306, 8.36), (313, 8.9), (330, 9.17), (320, 8.34), (311, 7.46),
       (298, 7.88), (301, 8.03), (310, 8.24), (324, 9.22), (336, 9.62),
       (321, 8.54), (315, 7.65), (304, 7.66), (297, 7.43), (290, 7.56),
       (303, 7.65), (322, 8.84), (319, 8.67), (324, 9.15), (300, 8.26),
       (340, 9.74), (335, 9.82), (302, 7.96), (307, 8.1), (296, 7.8),
       (320, 8.44), (314, 8.24), (318, 8.65), (326, 9.12), (317, 8.76),
       (329, 9.23), (324, 9.04), (330, 9.45), (312, 8.78), (333, 9.66)],
      dtype=object)

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [8]:
# your code here

data2 = data.set_index(['GREScore', 'CGPA'])

data3 = data2.reset_index()

data3

,GREScore,CGPA,SerialNo.,TOEFLScore,UniversityRating,SOP,LOR,Research,ChanceofAdmit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,324,8.87,2,107,4,4.0,4.5,1,0.76
2,316,8.00,3,104,3,3.0,3.5,1,0.72
3,322,8.67,4,110,3,3.5,2.5,1,0.80
4,314,8.21,5,103,2,2.0,3.0,0,0.65
...,...,...,...,...,...,...,...,...,...
395,324,9.04,396,110,3,3.5,3.5,1,0.82
396,325,9.11,397,107,3,3.0,3.5,1,0.84
397,330,9.45,398,116,4,5.0,4.5,1,0.91
398,312,8.78,399,103,3,3.5,4.0,0,0.67
399,333,9.66,400,117,4,5.0,4.0,1,0.95

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [9]:
# your code here

data_a = pd.read_csv('../data/Admission_Predict.csv', sep=',')

data_a.query('CGPA > 9 & Research == 1').head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
5,6,330,115,5,4.5,3.0,9.34,1,0.90
12,13,328,112,4,4.0,4.5,9.10,1,0.78
22,23,328,116,5,5.0,5.0,9.50,1,0.94
23,24,334,119,5,5.0,4.5,9.70,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [10]:
# your code here

data_a.query('CGPA > 9 & SOP < 3.5')

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
32,33,338,118,4,3.0,4.5,9.40,1,0.91
66,67,327,114,3,3.0,3.0,9.02,0,0.61
147,148,326,114,3,3.0,3.0,9.11,1,0.83
229,230,324,111,4,3.0,3.0,9.01,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [11]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here
    return col.mean() / np.std(col)

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [12]:
# your code here

data_a['CGPA_std'] = standardize(data_a['CGPA'])
data_a['GRE_std'] = standardize(data_a['GRE Score'])
data_a['LOR_std'] = standardize(data_a['LOR '])

data_a.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,1,337,118,4,4.5,4.5,9.65,1,0.92,14.438113,27.646334,3.847424
1,2,324,107,4,4.0,4.5,8.87,1,0.76,14.438113,27.646334,3.847424
2,3,316,104,3,3.0,3.5,8.00,1,0.72,14.438113,27.646334,3.847424
3,4,322,110,3,3.5,2.5,8.67,1,0.80,14.438113,27.646334,3.847424
4,5,314,103,2,2.0,3.0,8.21,0,0.65,14.438113,27.646334,3.847424

We will generate the decision choice at random using the code below. Please run the cell.

In [13]:
# Libraries
from random import choices

In [14]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=data_a.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [15]:
# your code here

data_a['deciding_column'] = data_a.lookup(data_a.index, decision_choice)

data_a

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column
0,1,337,118,4,4.5,4.5,9.65,1,0.92,14.438113,27.646334,3.847424,3.847424
1,2,324,107,4,4.0,4.5,8.87,1,0.76,14.438113,27.646334,3.847424,3.847424
2,3,316,104,3,3.0,3.5,8.00,1,0.72,14.438113,27.646334,3.847424,14.438113
3,4,322,110,3,3.5,2.5,8.67,1,0.80,14.438113,27.646334,3.847424,27.646334
4,5,314,103,2,2.0,3.0,8.21,0,0.65,14.438113,27.646334,3.847424,3.847424
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82,14.438113,27.646334,3.847424,14.438113
396,397,325,107,3,3.0,3.5,9.11,1,0.84,14.438113,27.646334,3.847424,27.646334
397,398,330,116,4,5.0,4.5,9.45,1,0.91,14.438113,27.646334,3.847424,14.438113
398,399,312,103,3,3.5,4.0,8.78,0,0.67,14.438113,27.646334,3.847424,14.438113
399,400,333,117,4,5.0,4.0,9.66,1,0.95,14.438113,27.646334,3.847424,3.847424

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [16]:
# your code here

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [17]:
# your code here

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [18]:
# your code here

data_b = pd.read_csv('../data/Admission_Predict.csv', sep=',')

data_b.columns = data_b.columns.str.replace('.', '')
data_b.columns = data_b.columns.str.replace(' ', '_')

data_b

,Serial_No,GRE_Score,TOEFL_Score,University_Rating,SOP,LOR_,CGPA,Research,Chance_of_Admit_
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [19]:
# your code here